<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="app/categories"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>Parking requests</ion-title> -->
    <ion-title>{{ 'ParkingRequests' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openFirebaseCreateModal()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  </ion-header>
  <ion-toolbar>
    <ion-segment value="newRequests"  (ionChange)="segmentChanged($event)">
      <!-- <ion-segment value="friends" class="user-friends-segment" mode="md" (ionChange)="segmentChanged($event)"> -->
        <ion-segment-button value="newRequests">
          <ion-label>{{ 'NewRequests' | translate }}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="myRequests">
          <ion-label>{{ 'MyRequests' | translate }}</ion-label>
        </ion-segment-button>
    <!--       <ion-segment-button value="Others">
          <ion-label>Others</ion-label>
        </ion-segment-button> -->
      </ion-segment>
    </ion-toolbar>
  <ion-content class="firebase-listing-content">
    <section [hidden]="segmentValue !== 'newRequests'">
      <ion-list class="items-list" *ngIf="newRequestsList?.length > 0">
        <!-- <ion-item class="list-item" *ngFor="let item of items"> -->
         <ion-item class="list-item" *ngFor="let item of newRequestsList" [routerLink]="['/deal/details', item.id]">
         <ion-row class="user-row">
           <ion-col class="user-data-wrapper">
             <div class="user-info">
               <h3 class="user-name">
                 <app-text-shell animation="bouncing" [data]="item.listingDetails"></app-text-shell>
               </h3>
             </div>
           </ion-col>
         </ion-row>
       </ion-item>
     </ion-list>
     <h3 *ngIf="newRequestsList?.length == 0" class="empty-list-message">
       {{ 'NoDealsFound' | translate }}
     </h3>
<!--       <ion-list class="friends-list" *ngIf="friendsList.length > 0">
        <ion-item class="friend-item" *ngFor="let friend of friendsList">
          <ng-container *ngTemplateOutlet="friendItem; context: { friend: friend }"></ng-container>
        </ion-item>
      </ion-list>
      <ng-container *ngIf="dealsList.length <= 0">
        <h3 class="empty-list-message">No deals found.</h3>
      </ng-container> -->
    </section>
  
    <section [hidden]="segmentValue !== 'myRequests'">
      <ion-list class="items-list" *ngIf="myRequestsList?.length > 0">
        <!-- <ion-item class="list-item" *ngFor="let item of items"> -->
         <ion-item class="list-item" *ngFor="let item of myRequestsList" [routerLink]="['/deal/details', item.id]">
         <ion-row class="user-row">
           <ion-col class="user-data-wrapper">
             <div class="user-info">
               <h3 class="user-name">
                 <app-text-shell animation="bouncing" [data]="item.listingDetails"></app-text-shell>
               </h3>
             </div>
           </ion-col>
    
         </ion-row>
       </ion-item>
     </ion-list>
     <h3 *ngIf="myRequestsList?.length == 0" class="empty-list-message">
      {{ 'NoDealsFound' | translate }}
     </h3>
<!--       <ion-list class="friends-list" *ngIf="followersList.length > 0">
        <ion-item class="friend-item" *ngFor="let friend of followersList">
          <ng-container *ngTemplateOutlet="friendItem; context: { friend: friend }"></ng-container>
        </ion-item>
      </ion-list>
      <ng-container *ngIf="myDealsList.length <= 0">
        <h3 class="empty-list-message">No deals found.</h3>
      </ng-container> -->
    </section>


<!--   <ion-list class="items-list" *ngIf="items?.length > 0">
      <ion-item class="list-item" *ngFor="let item of items" [routerLink]="['/deal/details', item.id]">
      <ion-row class="user-row">
        <ion-col class="user-data-wrapper">
          <div class="user-info">
            <h3 class="user-name">
              <app-text-shell animation="bouncing" [data]="item.listingDetails"></app-text-shell>
            </h3>
          </div>
        </ion-col>
 
      </ion-row>
    </ion-item>s
  </ion-list>
  <h3 *ngIf="items?.length == 0" class="empty-list-message">
    No deals found.
  </h3> -->
</ion-content>
