<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="app/categories"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'ItemsForSale' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openFirebaseCreateModal()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="filters-toolbar">
    <ion-row class="searchbar-row" align-items-center>
      <ion-col>
        <ion-searchbar class="items-searchbar" animated [(ngModel)]="searchQuery" (ionChange)="searchList()" placeholder="{{ 'SearchBarPosts' | translate }}"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="firebase-listing-content">
  <ion-list class="items-list" *ngIf="items?.length > 0">
     <!-- <ion-item class="list-item" *ngFor="let item of items"> -->
      <ion-item class="list-item" *ngFor="let item of items" [routerLink]="['/sale/details', item.id]">
      <ion-row class="user-row">
        <ion-col size="3" class="user-image-wrapper">
          <app-aspect-ratio [ratio]="{w: 1, h: 1}">
            <app-image-shell class="user-image" animation="spinner" [display]="'cover'" [src]="item.coverPhotoData" [alt]="'item image'"></app-image-shell>
          </app-aspect-ratio>
        </ion-col>
        <ion-col class="user-data-wrapper">
          <div class="user-info">
            <h3 class="user-name">
              <app-text-shell animation="bouncing" [data]="item.object"></app-text-shell>
            </h3>
          </div>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
  <h3 *ngIf="items?.length == 0" class="empty-list-message">
    No users found for the selected filters.
  </h3>
</ion-content>
