<ion-header>
  <ion-toolbar color="main">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="start-menu"></ion-back-button>
    </ion-buttons>
    <ion-searchbar search-icon="undefined" class="items-searchbar" animated [(ngModel)]="searchQuery" (ionChange)="searchList()" placeholder="{{ 'SearchBarBuilding' | translate }}"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
<ng-container *ngIf="items.isShell">
  <div class="DivLoading">
    <ion-spinner></ion-spinner>
  </div>
</ng-container>
<ng-container *ngIf="!items.isShell">
  <div *ngIf="items?.length > 0">
      <ion-card class="itemCard" *ngFor="let item of items" [routerLink]="['/buildings/details', item.id]">
        <ion-item *ngIf="item.name" color="main">
          <ion-icon name="business-outline" slot="start"></ion-icon>
          <ion-label>{{ item.name }}</ion-label>
        </ion-item>
        <ion-card-header>
          <ion-card-subtitle>
            {{ item.createDate?.seconds * 1000 | date:'dd, MMM, yyyy' }}
          </ion-card-subtitle>
          <ion-card-title>    

              <ion-text> {{ item.statusTranslation }}</ion-text>

          </ion-card-title>
        </ion-card-header>

      </ion-card>
  </div>
  <h3 *ngIf="items?.length == 0" class="empty-list-message">
    {{ 'NoItemFound' | translate }}
  </h3>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="main" (click)="openFirebaseCreateModal()">
      <ion-icon name="add" ></ion-icon>
    </ion-fab-button>
  </ion-fab> 
</ng-container>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="main" (click)="openFirebaseCreateModal()">
    <ion-icon  name="add" ></ion-icon>
  </ion-fab-button>
</ion-fab> 
</ion-content>