// @import "../../../../../theme/mixins/scrollbars";

// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-fair-margin);
}

  .itemCard {
  .expiration-countdown {
    height: 50px;
    color: var(--ion-color-lightest);
    background-color: var(--ion-color-main);
    padding: calc(var(--page-margin) / 2) var(--page-margin);

    position: sticky;
    top: 0;
    z-index: 8;

      //text-align: center;
      //justify-content: center;
      //align-items: center;
  
    .expiration-lead {
      //padding: 0px calc(var(--page-margin) / 2);
      text-transform: uppercase;
      font-weight: 500;
      font-size: 14px;
    }


    app-countdown-timer.item-countdown {
/*       --countdown-margin: 0px;
      --countdown-padding: 0px 3px;
      --countdown-time-margin: 0px 2px;
      --countdown-time-padding: 0px 2px; */
      --countdown-inner-time-margin: 0px 2px 0px 0px;
      --countdown-inner-time-padding: calc(var(--page-margin) / 2) 0px;
      --countdown-fill-border: none;
      --countdown-fill-border-radius: var(--app-narrow-radius);
      --countdown-fill-background: var(--ion-color-lightest);
      --countdown-fill-shadow: 0px 0px 5px 0px var(--page-countdown-fill-shadow-color);
      --countdown-value-color: var(--ion-color-darkest);
      --countdown-unit-color: var(--ion-color-medium-shade);

      padding: 0px calc(var(--page-margin) / 4);
      font-size: 14px;
      font-weight: 500;
    
  }
  }
}
  // .user-details {
/*     background-color : var(--app-background-shade);
    margin: 0px var(--page-margin) 0px var(--page-margin);
    border-radius: var(--app-fair-radius);
    box-shadow: 1px 1px 4px 1px var(--page-item-shadow-color);
    //border-style: solid;
    //border-bottom-width: calc((var(--page-margin) / 2) * 3);
    //border-bottom-color: var(--page-deal-border-color);
    padding :  var(--page-margin);*/

    .user-details-section {
      --ion-grid-column-padding: 0px; 
    
      //margin: var(--page-margin);
      //margin-left: 0px;
    
      .user-image-wrapper {
        width: 25%;
        max-width: 30%;
        app-image-shell.user-image {
          --image-shell-border-radius: 20px;//var(--page-border-radius);
        }
      }
      .user-info-wrapper {
        padding-left: var(--page-margin);
        display: flex;
        flex-direction: column;
        //justify-content: space-between;
        flex-wrap: nowrap;
    

        .user-name {
          padding-bottom: var(--page-margin);
          margin: 0px;
          //font-size: 20px;
          //letter-spacing: 0.5px;
        }

        app-rating-input {
          --rating-color: var(--ion-color-secondary);
        }
      }
    // }
 }
