/*LA_2020_01 added for slider shell*/
/* app-image-shell.showcase-image {
  --image-shell-loading-background: rgba(var(--shell-color-rgb), .10);
  --image-shell-spinner-color: rgba(var(--shell-color-rgb), .25);
}
 */
app-image-shell.item-image {
  --image-shell-border-radius: 50%;
}

.item-name > app-text-shell {
  --text-shell-line-height: 24px;
}

.item-age > app-text-shell {
  --text-shell-line-height: 14px;
}

.experience-label > app-text-shell {
  --text-shell-line-height: 16px;
  max-width: 40%;

  &.text-loaded {
    max-width: inherit;
  }
}

app-image-shell.related-item-picture {
  --image-shell-border-radius: var(--app-fair-radius);
}

.related-item-name > app-text-shell {
  --text-shell-line-height: 14px;
  max-width: 80%;

  &.text-loaded {
    max-width: inherit;
  }
}
