<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="app/categories"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'Publications' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openFirebaseCreateModal()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-segment value="announcements"  (ionChange)="segmentChanged($event)">
    <ion-segment-button value="announcements">
      <ion-label>{{ 'Announcements' | translate }}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="regulations">
      <ion-label>{{ 'Regulations' | translate }}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="events">
      <ion-label>{{ 'Events' | translate }}</ion-label>
    </ion-segment-button>
</ion-segment>
</ion-header>
<ion-content>
  <section [hidden]="segmentValue !== 'announcements'">
  <ng-container *ngIf="items?.length > 0">
    <ion-card class="itemCard" button="true" *ngFor="let item of announcementsList" [routerLink]="['/publication/details', item.id]" color="main">
      <ion-card-header>
        <ion-card-subtitle>{{item.createDate?.seconds * 1000 | date:'dd, MMM, yyyy'}}</ion-card-subtitle>
        <ion-card-title>{{ item.subject }}</ion-card-title>
      </ion-card-header>
      <ion-card-content *ngIf="item.subject">
        {{ item.details }}
      </ion-card-content>
<!--       <ion-row class="ion-align-items-center">
        <ion-col class="ion-text-left ion-padding-horizontal ion-padding-bottom ion-text-capitalize">
            <h3>
              {{ item.details }}
            </h3>
        </ion-col>
        <ion-col  class="ion-text-right ion-padding-horizontal ion-padding-bottom">
            <h3>
              Text 2
            </h3>
        </ion-col>
      </ion-row> -->
    </ion-card>
    </ng-container>
    <ng-container *ngIf="announcementsList?.length == 0">
      <h3 class="empty-list-message">
        {{ 'NoItemFound' | translate }}
      </h3>
    </ng-container>
    </section>
    <section [hidden]="segmentValue !== 'regulations'">
      <ng-container *ngIf="items?.length > 0">
        <ion-card class="itemCard" button="true" *ngFor="let item of regulationsList" [routerLink]="['/publication/details', item.id]" color="main">
          <ion-card-header>
            <ion-card-subtitle>{{item.createDate?.seconds * 1000 | date:'dd, MMM, yyyy'}}</ion-card-subtitle>
            <ion-card-title>{{ item.subject }}</ion-card-title>
          </ion-card-header>
          <ion-card-content *ngIf="item.subject">
            {{ item.details }}
          </ion-card-content>
        </ion-card>
        </ng-container>
        <ng-container *ngIf="items?.length == 0">
          <h3 class="empty-list-message">
            {{ 'NoItemFound' | translate }}
          </h3>
        </ng-container>
        </section>
        <section [hidden]="segmentValue !== 'events'">
          <ng-container *ngIf="items?.length > 0">
            <ion-card class="itemCard" button="true" *ngFor="let item of eventsList" [routerLink]="['/publication/details', item.id]" color="main">
              <ion-card-header>
                <ion-card-subtitle>{{item.createDate?.seconds * 1000 | date:'dd, MMM, yyyy'}}</ion-card-subtitle>
                <ion-card-title>{{ item.subject }}</ion-card-title>
              </ion-card-header>
              <ion-card-content *ngIf="item.subject">
                {{ item.details }}
              </ion-card-content>
            </ion-card>
            </ng-container>
            <ng-container *ngIf="eventsList?.length == 0">
              <h3 class="empty-list-message">
                {{ 'NoItemFound' | translate }}
              </h3>
            </ng-container>
            </section>
    </ion-content>