// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-fair-margin);
  --page-background: var(--app-background);
}

// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
.filters-toolbar {
  --padding-start: var(--page-margin);
  --padding-end: var(--page-margin);
  --padding-top: var(--page-margin);
  --padding-bottom: var(--page-margin);

  .searchbar-row {
    --ion-grid-column-padding: 0px;

    ion-searchbar.items-searchbar {
      padding: 0px;
      // override Ionic fixed height
      height: 100%;
      // Learn more about CSS contain property here: https://termvader.github.io/css-contain/
      contain: content;
    }

    .call-to-action-col {
      padding-inline-start: var(--page-margin);
      max-width: fit-content;
      flex-shrink: 0;
      flex-grow: 0;

      display: flex;
      justify-content: flex-end;

      .filters-btn {
        --padding-start: 0px;
        --padding-end: 0px;

        margin: 0px;
        font-size: 18px;
        // override Ionic fixed height
        height: initial;
      }
    }
  }

}

  .empty-list-message {
    margin: calc(var(--page-margin) * 3);
    color: rgba(var(--ion-color-dark-rgb), 0.4);
    text-align: center;
  }

