<!-- This is the proper way if you have submit button outside your ion-content form (typically in the ion-header or ion-footer) -->
<!-- (ref: https://github.com/ionic-team/ionic/issues/16661) -->
<form class="ion-page" [formGroup]="updateItemForm" (ngSubmit)="updateItem()">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button (click)="dismissModal()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>{{ 'Update' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
        <!-- <ion-list lines="full"> -->
          <ion-item>
            <ion-label position="floating">{{ 'Subject' | translate }}</ion-label>
            <ion-input type="text" formControlName="subject"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">{{ 'Details' | translate }}</ion-label>
            <ion-textarea rows="6" cols="20" formControlName="details"></ion-textarea>
          </ion-item>
          <ng-container *ngIf="item.category == 'announcement'">
            <ion-item>
              <ion-label>{{ 'EnableVoting' | translate }}</ion-label>
              <ion-toggle color="main" formControlName="voting" (ionChange)="votingChanged($event)"></ion-toggle>
            </ion-item>
            <ion-item *ngIf="voting">
              <ion-label position="floating">{{ 'VotingNote' | translate }}</ion-label>
              <ion-input type="text" formControlName="votingMessage"></ion-input>
            </ion-item>
            <ion-item *ngIf="voting">
              <ion-label>{{ 'ShowResult' | translate }}</ion-label>
              <ion-toggle color="main" formControlName="votingResult"></ion-toggle>
            </ion-item>
          </ng-container>
            <ion-item>          
              <ion-button color="main" (click)="selectFile()" [disabled]="files.length >= 5">
              <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
              </ion-button>
            </ion-item>
        <!-- </ion-list> -->

        <ion-card class="itemCard"> 
      <ion-row *ngFor="let file of files; let i = index;">
        <ion-col size="8">        
          <!-- <ion-label position="floating">{{ 'ChangeName' | translate }}</ion-label> -->
          <ion-input type="text" [value]="file.fileName"  #txtName [disabled]=true></ion-input>
        </ion-col>
        <ion-col size="4" >
          <ion-button color="main" (click)="deleteFile(i)">          
            <ion-icon class="btn-icon" slot="icon-only" name="trash"></ion-icon>      
        </ion-button> 
        <ion-button color="main" (click)="changeBtnStatus(txtName,btnChange,btnConfirm)"  #btnChange>          
            <ion-icon name="create-outline"></ion-icon>
            <!-- <ion-icon name="pencil-outline"></ion-icon> -->
        </ion-button> 
        <ion-button color="main" (click)="confirmChanging(i,txtName,btnChange,btnConfirm)" [disabled]=true  #btnConfirm >          
            <ion-icon name="checkmark-outline"></ion-icon>
        </ion-button> 
<!--         <ion-button *ngIf="file.storagePath != ''" color="main" (click)="openFile(i)">          
          <ion-icon name="open-outline"></ion-icon>
        </ion-button>  -->
        </ion-col>
      </ion-row>
      </ion-card> 

  <ng-container *ngIf="updateItemForm.errors?.nameChanging">
    <div class="alert alert-danger">{{ 'PleaseConfirmNamingChange' | translate }}</div>
  </ng-container> 
  <ng-container *ngIf="updateItemForm.get('subject').invalid && (updateItemForm.dirty || updateItemForm.touched)" class="alert alert-danger">
  <div *ngIf="updateItemForm.get('subject').errors.required">
    {{ 'SubjectRequired' | translate }}
  </div>
  <!-- <div *ngIf="createItemForm.get('subject').errors.minlength">
  Name must be at least 4 characters long.
  </div> -->
  </ng-container> 
<!--         <ion-row *ngFor="let file of files; let i = index;">   
          <ion-col size="8" >        
            <ion-label color="main" position="floating">{{ 'ChangeName' | translate }}</ion-label>
              <ion-input type="text" [value]="file.fileName"  #txtName [disabled]=true></ion-input>
          </ion-col>
          <ion-col size="4" >
            <ion-button color="main" (click)="deleteFile(i)">          
              <ion-icon slot="icon-only" name="trash"></ion-icon>      
            </ion-button> 
            <ion-button color="main" (click)="changeBtnStatus(txtName,btnChange,btnConfirm)"  #btnChange>          
              {{ 'ModifyName' | translate }}
            </ion-button> 
            <ion-button color="main" (click)="confirmChanging(i,txtName,btnChange,btnConfirm)" [disabled]=true  #btnConfirm >          
              {{ 'Confirm' | translate }}
            </ion-button> 
            <ion-button color="main" (click)="openFile(i)">          
              <ion-icon name="open-outline"></ion-icon>
            </ion-button> 
          </ion-col>
        </ion-row> -->
  </ion-content>

  <ion-footer>
    <ion-row class="form-actions-wrapper">
      <ion-col>
        <ion-button expand="block" color="primary" fill="outline" (click)="deleteItem()">{{ 'Delete' | translate }}</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" color="main" type="submit" fill="solid" [disabled]="!updateItemForm.valid">{{ 'Update' | translate }}</ion-button>
      </ion-col>
    </ion-row>
  </ion-footer>
</form>
