<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="publication/listing"></ion-back-button>
    </ion-buttons>
    <ion-title>Post Details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openFirebaseUpdateModal()" >
        Edit
      </ion-button> 
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="item-content">
  <ion-row class="item-info-row">
    <ion-col class="item-details-col" size="12">
      <h2 class="item-name">
        <app-text-shell animation="bouncing" [data]="item.title"></app-text-shell>
      </h2>
      <h2 class="item-name">{{item.description}}
        <!-- <app-text-shell animation="bouncing" [data]="item.description"></app-text-shell> -->
      </h2>
      <h2 class="item-name">{{item.createDate}}
        <!-- <app-text-shell animation="bouncing" [data]="item.createDate"></app-text-shell> -->
      </h2>
    </ion-col>
  </ion-row>
  <ion-list class="items-list" *ngIf="item.fileFullPath?.length > 0">
  <ion-item class="list-item"  *ngFor="let file of item.fileFullPath; let i = index;">
    <app-text-shell animation="bouncing" [data]="file.fileName"></app-text-shell>
    <ion-button class="change-image-btn" color="secondary" (click)="openPDF(i)">
      Open
    </ion-button>
  </ion-item>
</ion-list>
</ion-content>
