<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="publication/listing"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'PostDetails' | translate }} </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openFirebaseUpdateModal()" >
        {{ 'Edit' | translate }} 
      </ion-button> 
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content class="ion-no-padding">
      <ion-item *ngIf="item.subject" >        
        <ion-label>{{ 'Subject' | translate }}</ion-label>
        <app-text-shell animation="bouncing" [data]="item?.subject"></app-text-shell>                  
         </ion-item>
         <ng-container *ngIf="item.category == 'event'">
      <ion-item lines="none" *ngIf="item.startDateTS">    
        <ion-label>{{ 'MeetingStartDate' | translate }}</ion-label>
        {{item.startDateTS * 1000 | date:'dd, MMM, yyyy hh:mm a'}}
      </ion-item>
      <ion-item lines="none" *ngIf="item.endDateTS">    
        <ion-label>{{ 'MeetingEndDate' | translate }}</ion-label>
        {{item.endDateTS * 1000 | date:'dd, MMM, yyyy hh:mm a'}}
      </ion-item>
    </ng-container>
    <ng-container *ngIf="item.category == 'announcement'">
      <ion-item lines="none">
        <ion-label>{{ 'EnableVoting' | translate }}</ion-label>
        <ion-toggle color="main" [(ngModel)]="item.voting" disabled></ion-toggle>
      </ion-item>
      <ion-item *ngIf="item.voting" lines="none">
        <ion-label position="floating">{{ 'VotingNote' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="item.votingMessage" disabled></ion-input>
      </ion-item>
      <ion-item *ngIf="item.voting" lines="none">
        <ion-label>{{ 'ShowResult' | translate }}</ion-label>
        <ion-toggle color="main" [(ngModel)]="item.votingResult" disabled></ion-toggle>
      </ion-item>
    </ng-container>
        </ion-card-content>
        </ion-card>
  <ion-card *ngIf="item.details">
    <ion-card-header>
      <!-- <ion-card-subtitle>{{ 'Details' | translate }}</ion-card-subtitle> -->
      <ion-card-title>{{ 'Details' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-textarea class="ion-no-padding" rows="6" [value]="item.details" readonly></ion-textarea>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="item.files?.length > 0">
    <ion-card-header>
      <!-- <ion-card-subtitle>{{ 'Details' | translate }}</ion-card-subtitle> -->
      <ion-card-title>{{ 'Files' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let file of item.files; let i = index;" lines="none">
        <ion-label>{{ file.fileName }}</ion-label>
        <ion-button color="main" (click)="openPDF(i)">
          <ion-icon name="open-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
