@import "../../../../../theme/mixins/inputs/checkbox-tag";

:host {
  --page-margin: var(--app-fair-margin);
  --page-background: var(--app-background);

  --page-background-shade: var(--app-background-shade);
  //--page-tags-gutter: 5px;
}

/* .create-item-content {
  --background: var(--page-background);
     .inputs-list {
      --ion-item-background: var(--page-background);

      //padding: var(--page-margin) var(--page-margin) var(--page-margin);

      .input-item {
        --padding-start: 0px;
        --padding-end: 0px;
        --inner-padding-end: 0px;
      }
    } 
} 

.form-actions-wrapper {
  --ion-grid-column-padding: calc(var(--page-margin) / 2);
  padding: calc(var(--page-margin) / 2);
  .submit-btn {
    margin: 0px;
  }
}*/
