@import "../../../theme/mixins/scrollbars";

// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-narrow-margin);
  --page-categories-gutter: calc(var(--page-margin) / 4);
  --page-category-background: var(--ion-color-medium);
  --page-category-background-rgb: var(--ion-color-medium-rgb);
}

ion-content{
  //--background:#e05c0e;e15b0e
  --background:#e15b0e;
}

// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
.categories-list {
  --ion-grid-column-padding: 10px;// var(--page-categories-gutter);
  padding: 10px;// calc(var(--page-categories-gutter) * 3);
  height: 100%;
  align-content: flex-start;
  overflow: scroll; 

  @include hide-scrollbars();

  .category-item {
    padding: 0px 0px 10px 0px;
    --page-category-background: #e15b0e;
    --page-category-background-rgb: 224, 92, 14;
    
  }

  .category-item-small-right {
    padding: 0px 10px 10px 0px;
    --page-category-background: #e15b0e;
    --page-category-background-rgb: 224, 92, 14;
    
  }

  .category-anchor {
    height: 100%;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    .category-title {
      margin: auto;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 12px;
      letter-spacing: 1px;
      padding: calc((var(--page-margin) / 4) * 3) var(--page-margin);
      // color: var(--ion-color-lightest);
      color: var(--ion-color-lightest);
      background-color: var(--page-category-background);
      border-radius: var(--app-fair-radius);
      // opacity: 0.5;
    }
  }

}
