  <ion-header>
    <ion-toolbar color="main">
      <ion-buttons slot="end">
        <ion-button [routerLink]="['/start-menu']">
          <!-- <ion-back-button defaultHref="start-menu"></ion-back-button> -->
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>{{ 'InviteNewMembers' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-card class="itemCard" *ngFor="let invitaion of invitaions | async">
      <ion-card-header>
        <ion-card-subtitle>
          {{ invitaion.createDate?.seconds * 1000 | date:'dd, MMM, yyyy hh:mm a' }}
        </ion-card-subtitle>
        <ion-card-title>    
          <ion-chip *ngFor="let email of invitaion.emails" color="main" outline="true">
            <ion-text>{{ email }}</ion-text>
          </ion-chip>
        </ion-card-title>
      </ion-card-header>
<!--       <ion-card-content>
      </ion-card-content> -->
  </ion-card> 
  </ion-content>
  <ion-footer>
    <ion-toolbar color="main">
      <ion-title class="ion-padding">{{ 'InvitationForm' | translate }}</ion-title>
    </ion-toolbar>
  </ion-footer>
  <ion-footer>
    <ion-toolbar color="main">
      <!-- <ion-title class="ion-padding">{{ 'InvitationForm' | translate }}</ion-title> -->
    
    <!-- <ion-toolbar> -->
      <!-- <ion-grid> -->
        <ion-row class="rowInvite">
          <ion-col>
            <ion-text >{{ 'EmailsListHeader' | translate }}</ion-text>
            <ion-textarea auto-grow="false" spellcheck="true" [(ngModel)]="emailsList" class="message-input"></ion-textarea>
          </ion-col>
          </ion-row> 
        <ion-row class="rowInvite">
          <ion-col>
            <ion-label>{{ 'InvitationMessage' | translate }}</ion-label>
            <ion-textarea auto-grow="false" spellcheck="true" [(ngModel)]="InvitationMsg" class="message-input"></ion-textarea>
          </ion-col>
<!--           <ion-col size="2">
            <ion-button expand="block" color="main" type="submit" fill="solid" [disabled]="emailsList ===''" (click)="sendInvitations()">{{ 'Invite' | translate }}</ion-button>
          </ion-col> -->
          </ion-row> 
          <ion-row class="rowInvite">
            <ion-col>
              <ion-button class="ion-no-margin btnInvite" expand="block" color="dark" type="submit" fill="solid" [disabled]="!emailsList" (click)="sendInvitations()">{{ 'Invite' | translate }}</ion-button>
            </ion-col>
          </ion-row>
    <!-- </ion-grid> -->
    <!-- </ion-toolbar> -->
  </ion-toolbar>
  </ion-footer>
