/*app-image-shell.item-image {
  --image-shell-border-radius: var(--app-fair-radius);
}
 .images-wrapper {
  --ion-grid-column-padding: calc(var(--page-margin) / 2);

  padding: calc(var(--page-margin) / 2);
} */