// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-fair-margin);
  --page-background: var(--app-background);
}

.itemCard {
  border-radius: 20px 20px 20px 20px;
}

// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
.filters-toolbar {
  --padding-start: var(--page-margin);
  --padding-end: var(--page-margin);
  --padding-top: var(--page-margin);
  --padding-bottom: var(--page-margin);

  .searchbar-row {
    --ion-grid-column-padding: 0px;

    ion-searchbar.items-searchbar {
      padding: 0px;
      // override Ionic fixed height
      height: 100%;
      // Learn more about CSS contain property here: https://termvader.github.io/css-contain/
      contain: content;
    }

  }

}
