<!-- This is the proper way if you have submit button outside your ion-content form (typically in the ion-header or ion-footer) -->
<!-- (ref: https://github.com/ionic-team/ionic/issues/16661) -->
<form class="ion-page" [formGroup]="createUserForm" (ngSubmit)="createUser()">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="end">
        <ion-button (click)="dismissModal()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>{{ 'NewUser' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="create-user-content">
    <ion-row class="select-user-image-row">
      <ion-col class="user-image-col" size="5">
        <app-aspect-ratio [ratio]="{w: 1, h: 1}">
          <app-image-shell [display]="'cover'" class="user-image" animation="spinner" [src]="selectedPhoto" [alt]="'user image'"></app-image-shell>
        </app-aspect-ratio>
        <ion-button class="change-image-btn" color="main" (click)="selectImageSource()">
          <ion-icon class="btn-icon" slot="icon-only" name="camera"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <section>
      <ion-list lines="full">
        <ion-item >
          <ion-label  position="floating">{{ 'FirstName' | translate }}</ion-label>
          <ion-input autocapitalize type="text" formControlName="firstname"></ion-input>
        </ion-item>
        <ion-item >
          <ion-label  position="floating">{{ 'LastName' | translate }}</ion-label>
          <ion-input autocapitalize type="text" formControlName="lastname"></ion-input>
        </ion-item>
        <ion-item >
            <ion-label position="floating">{{ 'Email' | translate }}</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
        <ion-item >
          <ion-label position="floating">{{ 'DateOfBirth' | translate }}</ion-label>
          <ion-datetime display-format="DD, MMMM, YYYY" picker-format="DD MMMM YYYY" formControlName="birthdate"></ion-datetime>
        </ion-item>
        <ion-item >
          <ion-label  position="floating">{{ 'Phone' | translate }}</ion-label>
          <ion-input type="text" formControlName="phone"></ion-input>
        </ion-item>
<!--         <ion-item >
          <ion-label  position="floating">{{ 'Building' | translate }}</ion-label>
          <ion-input type="text" formControlName="building"></ion-input>
        </ion-item> -->
          <ion-grid class="ion-no-margin ion-no-padding">          
          <ion-row>
          <ion-col>
            <ion-item> 
          <ion-label position="floating">{{ 'Apartment' | translate }}</ion-label>
          <ion-input type="text" formControlName="apartment"></ion-input>
            </ion-item> 
        </ion-col>
        <ion-col>
          <ion-item> 
          <ion-label position="floating">{{ 'DoorCode' | translate }}</ion-label>
          <ion-input type="text" formControlName="code"></ion-input>
          </ion-item> 
        </ion-col>
        </ion-row>
      
      </ion-grid>
    
<!--         <ion-grid>
          <ion-row class="ion-justify-content-between">
            <ion-col size="3">
              <div>
                1 of 2
              </div>
            </ion-col>
            <ion-col size="3">
              <div>
                2 of 2
              </div>
            </ion-col>
          </ion-row>
        </ion-grid> -->

<ion-grid class="ion-no-margin ion-no-padding">          
  <ion-row class="ion-align-items-center">
    <ion-col>
      <ion-item>
        <ion-radio-group formControlName="type" size="6">
          <ion-row class="radio-tags">
            <ion-col class="ion-margin-end">
            <ion-item class="radio-tag" lines="none">
              <ion-label class="tag-label">{{ 'Owner' | translate }}</ion-label>
              <ion-radio value="owner"></ion-radio>
            </ion-item>
          </ion-col>
            <ion-col>
              <ion-item class="radio-tag" lines="none">
                <ion-label class="tag-label">{{ 'Tenant' | translate }}</ion-label>
                <ion-radio value="tenant"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-radio-group>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid class="ion-no-margin ion-no-padding">          
  <ion-row class="ion-align-items-center">
    <ion-col>
      <ion-item>
        <ion-radio-group formControlName="language" size="6">
          <ion-row class="radio-tags">
            <ion-col class="ion-margin-end">
            <ion-item class="radio-tag" lines="none">
              <ion-label class="tag-label">{{ 'English' | translate }}</ion-label>
              <ion-radio value="en"></ion-radio>
            </ion-item>
          </ion-col>
            <ion-col class="ion-margin-end">
              <ion-item class="radio-tag" lines="none">
                <ion-label class="tag-label">{{ 'Frensh' | translate }}</ion-label>
                <ion-radio value="fr"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col class="ion-margin-end">
              <ion-item class="radio-tag" lines="none">
                <ion-label class="tag-label">{{ 'Spanish' | translate }}</ion-label>
                <ion-radio value="es"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item class="radio-tag" lines="none">
                <ion-label class="tag-label">{{ 'Arabic' | translate }}</ion-label>
                <ion-radio value="ar"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-radio-group>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid class="ion-no-margin ion-no-padding">          
  <ion-row class="ion-align-items-center">
    <ion-col>
      <ion-item>
        <ion-radio-group formControlName="role" size="6">
          <ion-row class="radio-tags">
            <ion-col class="ion-margin-end">
            <ion-item class="radio-tag" lines="none">
              <ion-label class="tag-label">{{ 'RegularUser' | translate }}</ion-label>
              <ion-radio value="user"></ion-radio>
            </ion-item>
          </ion-col>
            <ion-col>
              <ion-item class="radio-tag" lines="none">
                <ion-label class="tag-label">{{ 'Admin' | translate }}</ion-label>
                <ion-radio value="admin"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-radio-group>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-item>
  <ion-label>{{ 'EnableNotifications' | translate }}</ion-label>
  <ion-toggle color="main" formControlName="enableNotifications"></ion-toggle>
</ion-item>

<ion-item-divider lines="none" >
  <ion-label>{{ 'Parking' | translate }}</ion-label>
  </ion-item-divider>
  <ion-grid class="ion-no-margin ion-no-padding">          
    <ion-row class="ion-align-items-center">
<ion-col size="4">

    <ion-select [interfaceOptions]="customAlertOptions" [okText]="'OK' | translate" [cancelText]="'Cancel' | translate" formControlName="parking1Level" (ionChange)="parking1Changed($event)">
      <ion-select-option *ngFor="let level of buildingParkings" [value]="level.id">{{ level.description }}</ion-select-option>
      <ion-select-option value="1000">{{ 'NotApplicable' | translate }}</ion-select-option>
    </ion-select>

  </ion-col>
  <ion-col *ngIf="parking1selected" size="4"> 
      <ion-item>
        <ion-label>{{ 'Number' | translate }}:</ion-label>
      <ion-input type="text" formControlName="parking1Number"></ion-input>
      </ion-item>
  </ion-col>
    <ion-col *ngIf="parking1selected" size="4">
        <ion-icon color="main" name="add-outline" *ngIf="!showHideParking2" (click)="showHideParkingValidate2()"></ion-icon>
  </ion-col>
   </ion-row>
  </ion-grid>
  <ion-grid class="ion-no-margin ion-no-padding" *ngIf="showHideParking2">          
  <ion-row class="ion-align-items-center">
  <ion-col size="4">

    <ion-select [interfaceOptions]="customAlertOptions" [okText]="'OK' | translate" [cancelText]="'Cancel' | translate" formControlName="parking2Level" (ionChange)="parking2Changed($event)">
      <ion-select-option *ngFor="let level of buildingParkings" [value]="level.id">{{ level.description }}</ion-select-option>
      <ion-select-option value="1000">{{ 'NotApplicable' | translate }}</ion-select-option>
    </ion-select>

  </ion-col>
<ion-col *ngIf="parking2selected" size="4">
    <ion-item>
      <ion-label>{{ 'Number' | translate }}:</ion-label>
    <ion-input type="text" formControlName="parking2Number"></ion-input>
  </ion-item>
</ion-col>
<ion-col *ngIf="parking2selected" size="4">
  <ion-row >
    <ion-col *ngIf="showHideParking2" size="6">
        <ion-icon color="main" name="trash-outline" (click)="showHideParkingValidate2()"></ion-icon>
  </ion-col>
  <ion-col *ngIf="!showHideParking3" size="6">
      <ion-icon color="main" name="add-outline" (click)="showHideParkingValidate3()"></ion-icon>
  </ion-col>
  </ion-row>
</ion-col>
 </ion-row>
  </ion-grid>
  <ion-grid class="ion-no-margin ion-no-padding" *ngIf="showHideParking3">          
  <ion-row class="ion-align-items-center">
<ion-col size="4">

    <ion-select [interfaceOptions]="customAlertOptions" [okText]="'OK' | translate" [cancelText]="'Cancel' | translate" formControlName="parking3Level" (ionChange)="parking3Changed($event)">
      <ion-select-option *ngFor="let level of buildingParkings" [value]="level.id">{{ level.description }}</ion-select-option>
      <ion-select-option value="1000">{{ 'NotApplicable' | translate }}</ion-select-option>
    </ion-select>

</ion-col>
<ion-col *ngIf="parking3selected" size="4">
    <ion-item>
      <ion-label>{{ 'Number' | translate }}:</ion-label>
    <ion-input type="text" formControlName="parking3Number"></ion-input>
  </ion-item>
</ion-col>
<ion-col *ngIf="parking3selected" size="4">
    <ion-icon color="main" name="trash-outline" *ngIf="showHideParking3" (click)="showHideParkingValidate3()"></ion-icon>
</ion-col>
</ion-row>
</ion-grid>
<ion-grid class="ion-no-margin ion-no-padding">          
  <ion-row class="ion-align-items-center">
    <ion-col>
      <ion-item>
        <ion-radio-group formControlName="status" size="6">
          <ion-row class="radio-tags">
            <ion-col class="ion-margin-end">
            <ion-item class="radio-tag" lines="none">
              <ion-label class="tag-label">{{ 'Active' | translate }}</ion-label>
              <ion-radio value="active"></ion-radio>
            </ion-item>
          </ion-col>
            <ion-col>
              <ion-item class="radio-tag" lines="none">
                <ion-label class="tag-label">{{ 'InActive' | translate }}</ion-label>
                <ion-radio value="inactive"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-radio-group>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
      </ion-list>
    </section>
  </ion-content>
  <ion-footer>
    <ng-container *ngIf="createUserForm.get('parking1Number').invalid && (createUserForm.dirty || createUserForm.touched)">
      <ion-row *ngIf="createUserForm.get('parking1Number').errors.required">
        <ion-col>
        <ion-text class="ion-padding-left validation">{{ 'Parking1NameRequired' | translate }}</ion-text>
        </ion-col>
      </ion-row>
    </ng-container>
    <ng-container *ngIf="createUserForm.get('parking2Number').invalid && (createUserForm.dirty || createUserForm.touched)">
      <ion-row *ngIf="createUserForm.get('parking2Number').errors.required">
        <ion-col>
        <ion-text class="ion-padding-left validation">{{ 'Parking2NameRequired' | translate }}</ion-text>
        </ion-col>
      </ion-row>
    </ng-container>
    <ng-container *ngIf="createUserForm.get('parking3Number').invalid && (createUserForm.dirty || createUserForm.touched)">
      <ion-row *ngIf="createUserForm.get('parking3Number').errors.required">
        <ion-col>
        <ion-text class="ion-padding-left validation">{{ 'Parking3NameRequired' | translate }}</ion-text>
        </ion-col>
      </ion-row>
    </ng-container>
    <ng-container *ngIf="createUserForm.get('firstname').invalid && (createUserForm.dirty || createUserForm.touched)">
      <ion-row *ngIf="createUserForm.get('firstname').errors.required">
        <ion-col>
        <ion-text class="ion-padding-left validation">{{ 'FirstnameRequired' | translate }}</ion-text>
        </ion-col>
      </ion-row>
    </ng-container>
    <ng-container *ngIf="createUserForm.get('lastname').invalid && (createUserForm.dirty || createUserForm.touched)">
      <ion-row *ngIf="createUserForm.get('lastname').errors.required">
        <ion-col>
        <ion-text class="ion-padding-left validation">{{ 'LastnameRequired' | translate }}</ion-text>
        </ion-col>
      </ion-row>
    </ng-container>
    <ng-container *ngIf="createUserForm.get('email').invalid && (createUserForm.dirty || createUserForm.touched)">
      <ion-row *ngIf="createUserForm.get('email').errors.required">
        <ion-col>
        <ion-text class="ion-padding-left validation">{{ 'EmailRequired' | translate }}</ion-text>
        </ion-col>
      </ion-row>
    </ng-container>
    <ng-container *ngIf="createUserForm.get('email').invalid && (createUserForm.dirty || createUserForm.touched)">
      <ion-row *ngIf="createUserForm.get('email').errors">
        <ion-col>
        <ion-text class="ion-padding-left validation">{{ 'EmailInvalid' | translate }}</ion-text>
        </ion-col>
      </ion-row>
    </ng-container>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="main" type="submit" fill="solid" [disabled]="disableSubmit || !createUserForm.valid">{{ 'Create' | translate }}</ion-button>
      </ion-col>
    </ion-row>
  </ion-footer>

</form>
