<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="users/listing"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'UserDetails' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openFirebaseUpdateModal()">
        {{ 'Edit' | translate }}
      </ion-button>
      <ion-button (click)="openChatModal()">
        {{ 'Contact' | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="user-content">
  <ion-row class="user-info-row">
    <ion-col class="user-image-col" size="5">
      <app-aspect-ratio [ratio]="{w: 1, h: 1}">
        <app-image-shell [display]="'cover'" class="user-image" animation="spinner" [src]="user.photo" [alt]="'item image'">
        </app-image-shell>
      </app-aspect-ratio>
    </ion-col>
    <ion-col class="user-details-col" size="12">
      <h2 class="user-name">
        <app-text-shell animation="bouncing" [data]="user.firstname?.concat(' ').concat(user.lastname)"></app-text-shell>
      </h2>
    </ion-col>
    </ion-row>
      <section>
          <!-- <ion-list> -->
            <ion-item *ngIf="user.email">
              <ion-label>{{ 'Email' | translate }}</ion-label>
              <app-text-shell animation="bouncing" [data]="user?.email"></app-text-shell>                  
            </ion-item>
            <ion-item *ngIf="user.birthdate">    
              <ion-label>{{ 'DateOfBirth' | translate }}</ion-label>
              <app-text-shell animation="bouncing" [data]="birthdate"></app-text-shell>    
            </ion-item>
            <ion-item *ngIf="user.phone">
              <ion-label>{{ 'Phone' | translate }}</ion-label>
              <app-text-shell animation="bouncing" [data]="user?.phone"></app-text-shell>
            </ion-item>
            <ion-item *ngIf="user.apartment">
              <ion-label>{{ 'Apartment' | translate }}</ion-label>
              <app-text-shell animation="bouncing" [data]="user?.apartment"></app-text-shell>
            </ion-item>
            <ion-item *ngIf="user.code">    
              <ion-label>{{ 'DoorCode' | translate }}</ion-label>
              <app-text-shell animation="bouncing" [data]="user?.code"></app-text-shell>
            </ion-item>
            <ion-item *ngIf="user.type">    
              <ion-label>{{ 'Type' | translate }}</ion-label>
              <app-text-shell animation="bouncing" [data]="type"></app-text-shell>
            </ion-item>
            <ion-item *ngIf="user.language">
              <ion-label>{{ 'Language' | translate }}</ion-label>
              <app-text-shell animation="bouncing" [data]="language"></app-text-shell>
            </ion-item>
            <ion-item *ngIf="user.role">    
              <ion-label>{{ 'Role' | translate }}</ion-label>
              <app-text-shell animation="bouncing" [data]="role"></app-text-shell>
            </ion-item>
            <ion-item *ngFor="let parking of userParking; let index = index;">    
              <ion-label>{{ 'Parking' | translate }} {{ index + 1}} </ion-label>
              {{ parking.description }}/#{{ parking.number }}
            </ion-item>
            <ion-item *ngIf="user.createDate">    
              <ion-label>{{ 'CreateDate' | translate }}</ion-label>
              <ion-text>{{ user.createDate?.seconds * 1000 | date:'dd, MMM, yyyy hh:mm a' }}</ion-text>
            </ion-item>
            <ion-item>    
              <ion-button expand="block" color="main" (click)="signOut()" fill="solid">{{ 'SignOut' | translate }}</ion-button>
            </ion-item>
          <!-- </ion-list> -->
        </section>
</ion-content>