// @import "../../../../../theme/mixins/inputs/checkbox-tag";
// @import "../../../../../theme/mixins/inputs/radio-tag";

/* :host {
  --page-margin: var(--app-fair-margin);
  --page-background: var(--app-background);

  --page-background-shade: var(--app-background-shade);
 */
/*   .item-image {
    width: 100%;
    background-position: center center;
  } */