<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="sale/listing"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'PostDetails' | translate }}</ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="openFirebaseUpdateModal()"  [hidden]="editHidden">
          {{ 'Edit' | translate }}
      </ion-button> 
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="item-content">
      <ion-row class="slider-row">
        <ion-slides class="details-slides" pager="true" [options]="slidesOptions">
          <ion-slide *ngFor="let image of photoSlider">
            <ion-row class="slide-inner-row">
              <!-- <app-image-shell [mode]="'cover'" animation="spinner" class="showcase-image" [ngClass]="{'centered-image': (image.type === 'square'), 'fill-image': (image.type === 'fill')}" [src]="image"> -->
                <app-image-shell [display]="'cover'" animation="spinner" class="showcase-image" [ngClass]="centered-image" [src]="image">
                <app-aspect-ratio [ratio]="{w:64, h:50}">
                </app-aspect-ratio>
              </app-image-shell>
            </ion-row>
          </ion-slide>
        </ion-slides>
      </ion-row>
      <section>
          <ion-item>
            <ion-label>{{ 'Object' | translate }}</ion-label>
            <app-text-shell animation="bouncing" [data]="item?.object"></app-text-shell>                  
          </ion-item>
          <ion-item>    
            <ion-label>{{ 'Price' | translate }}</ion-label>
            <app-text-shell [data]="(item.price) ? ''.concat(item.price).concat('  $') : null"></app-text-shell>    
          </ion-item>
          <section *ngIf="item?.description != ''">
            <ion-item lines="none">
              <ion-label>Description</ion-label>
            </ion-item>
            <ion-item>
              <ion-textarea rows="6" [value]="item.description" readonly class="ion-no-padding"></ion-textarea>
            </ion-item>
          </section>
          <ion-item>
            <ion-label>{{ 'Status' | translate }}</ion-label>
            <app-text-shell animation="bouncing" [data]="status"></app-text-shell>
          </ion-item>
      </section>
</ion-content>
