<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="app/categories"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'ItemsForSale' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openFirebaseCreateModal()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
<!--   <ion-toolbar class="filters-toolbar">
    <ion-row class="searchbar-row" align-items-center>
      <ion-col>
        <ion-searchbar class="items-searchbar" animated [(ngModel)]="searchQuery" (ionChange)="searchList()" placeholder="{{ 'SearchBarPosts' | translate }}"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-toolbar> -->
  <ion-segment value="rent"  (ionChange)="segmentChanged($event)">
    <ion-segment-button value="rent">
      <ion-label>{{ 'ForRent' | translate }}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="sale">
      <ion-label>{{ 'ForSale' | translate }}</ion-label>
    </ion-segment-button>
</ion-segment>
</ion-header>
<ion-content>
  <section [hidden]="segmentValue !== 'rent'">
  <ng-container *ngIf="rentList?.length > 0">
<ion-card button="true" class="itemCard" *ngFor="let item of rentList" [routerLink]="['/rentorsale/details', item.id]" color="main">
  <app-aspect-ratio [ratio]="{w:64, h:50}">
    <app-image-shell class="item-image" animation="gradient" [display]="'cover'" [src]="item.coverPhotoData" [alt]="'item image'"></app-image-shell>
  </app-aspect-ratio>
<!--   <ion-card-header>
    <ion-card-subtitle><app-text-shell animation="bouncing" [data]="item.object"></app-text-shell></ion-card-subtitle>
    <ion-card-title><app-text-shell animation="bouncing" [data]="item.price ? '$'.concat(item.price) : null"></app-text-shell></ion-card-title>
  </ion-card-header> -->
  <ion-card-content *ngIf="item.description">
      {{item.description}}
  </ion-card-content>
  <ion-row class="ion-align-items-center">
    <ion-col class="ion-text-left ion-padding-horizontal ion-padding-bottom ion-text-capitalize">
        <h3>
          <app-text-shell animation="bouncing" [data]="item.object"></app-text-shell>
        </h3>
    </ion-col>
    <ion-col  class="ion-text-right ion-padding-horizontal ion-padding-bottom">
        <h3>
          <app-text-shell animation="bouncing" [data]="item.price ? '$'.concat(item.price) : null"></app-text-shell>
        </h3>
    </ion-col>
  </ion-row>
</ion-card>
</ng-container>
<ng-container *ngIf="rentList?.length == 0">
  <h3  class="empty-list-message">
    {{ 'NoItemFound' | translate }}
  </h3>
</ng-container>
</section>
<section [hidden]="segmentValue !== 'sale'">
  <ng-container *ngIf="saleList?.length > 0">

<ion-card button="true" class="itemCard" *ngFor="let item of saleList" [routerLink]="['/rentorsale/details', item.id]" color="main">
  <app-aspect-ratio [ratio]="{w:64, h:50}">
    <app-image-shell class="item-image" animation="gradient" [display]="'cover'" [src]="item.coverPhotoData" [alt]="'item image'"></app-image-shell>
  </app-aspect-ratio>
<!--   <ion-card-header>
    <ion-card-subtitle><app-text-shell animation="bouncing" [data]="item.object"></app-text-shell></ion-card-subtitle>
    <ion-card-title><app-text-shell animation="bouncing" [data]="item.price ? '$'.concat(item.price) : null"></app-text-shell></ion-card-title>
  </ion-card-header> -->
  <ion-card-content *ngIf="item.description">
      {{item.description}}
  </ion-card-content>
  <ion-row class="ion-align-items-center">
    <ion-col class="ion-text-left ion-padding-horizontal ion-padding-bottom ion-text-capitalize">
        <h3>
          <app-text-shell animation="bouncing" [data]="item.object"></app-text-shell>
        </h3>
    </ion-col>
    <ion-col  class="ion-text-right ion-padding-horizontal ion-padding-bottom">
        <h3>
          <app-text-shell animation="bouncing" [data]="item.price ? '$'.concat(item.price) : null"></app-text-shell>
        </h3>
    </ion-col>
  </ion-row>
</ion-card>
</ng-container>
<ng-container *ngIf="saleList?.length == 0">
  <h3  class="empty-list-message">
    {{ 'NoItemFound' | translate }}
  </h3>
</ng-container>
</section>
</ion-content>
