<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="start-menu"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'LostFound' | translate }}</ion-title>
  </ion-toolbar>
<!--     <ion-buttons slot="end" >
      <ion-button (click)="openFirebaseCreateModal()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  <ion-toolbar>
<!--   <ion-toolbar class="filters-toolbar">
    <ion-row class="searchbar-row" align-items-center>
      <ion-col>
        <ion-searchbar class="items-searchbar" animated [(ngModel)]="searchQuery" (ionChange)="searchList()" placeholder="{{ 'SearchBarPosts' | translate }}"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-toolbar> -->
  <ion-segment [(ngModel)]="segmentValue" color="main">
    <ion-segment-button value="lost">
      <ion-label>{{ 'Lost' | translate }}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="found">
      <ion-label>{{ 'Found' | translate }}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="stolen">
      <ion-label>{{ 'Stolen' | translate }}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="myList" *ngIf="myList?.length > 0">
      <ion-label>{{ 'MyList' | translate }}</ion-label>
    </ion-segment-button>
</ion-segment>
</ion-toolbar>
</ion-header>
<ion-content>
  <section [hidden]="segmentValue !== 'lost'">
  <ng-container *ngIf="lostList?.length > 0">
<ion-card button="true" class="itemCard" *ngFor="let item of lostList" [routerLink]="['/lost-found/details', item.id]">
  <app-aspect-ratio [ratio]="{w:64, h:50}">
    <app-image-shell animation="gradient" [display]="'cover'" [src]="item.coverPhotoData" [alt]="'item image'"></app-image-shell>
  </app-aspect-ratio>
    <ion-card-header>
    <ion-card-subtitle>{{ item.createDate?.seconds * 1000 | date:'dd, MMM, yyyy' }}</ion-card-subtitle>
    <ion-card-title>{{ item.subject }}</ion-card-title>
  </ion-card-header>
  <ion-card-content *ngIf="item.details">
     {{item.details}}
    <!--<br> -->
    <!-- <ion-row>{{item.createDate?.seconds * 1000 | date:'dd, MMM, yyyy'}}</ion-row> -->
  </ion-card-content>
</ion-card>
</ng-container>  
<ng-container *ngIf="lostList?.length == 0">
  <h3  class="empty-list-message">
    {{ 'NoItemFound' | translate }}
  </h3>
</ng-container>
</section>
<section [hidden]="segmentValue !== 'found'">
  <ng-container *ngIf="foundList?.length > 0">
<ion-card button="true" class="itemCard" *ngFor="let item of foundList" [routerLink]="['/lost-found/details', item.id]">
  <app-aspect-ratio [ratio]="{w:64, h:50}">
    <app-image-shell animation="gradient" [display]="'cover'" [src]="item.coverPhotoData" [alt]="'item image'"></app-image-shell>
  </app-aspect-ratio>
    <ion-card-header>
    <ion-card-subtitle>{{ item.createDate?.seconds * 1000 | date:'dd, MMM, yyyy' }}</ion-card-subtitle>
    <ion-card-title>{{ item.subject }}</ion-card-title>
  </ion-card-header>
  <ion-card-content *ngIf="item.details">
      {{item.details}}
  </ion-card-content>
</ion-card>
</ng-container>
<ng-container *ngIf="foundList?.length == 0">
  <h3  class="empty-list-message">
    {{ 'NoItemFound' | translate }}
  </h3>
</ng-container>
</section>
<section [hidden]="segmentValue !== 'stolen'">
  <ng-container *ngIf="stolenList?.length > 0">
<ion-card button="true" class="itemCard" *ngFor="let item of stolenList" [routerLink]="['/lost-found/details', item.id]">
  <app-aspect-ratio [ratio]="{w:64, h:50}">
    <app-image-shell animation="gradient" [display]="'cover'" [src]="item.coverPhotoData" [alt]="'item image'"></app-image-shell>
  </app-aspect-ratio>
    <ion-card-header>
    <ion-card-subtitle>{{ item.createDate?.seconds * 1000 | date:'dd, MMM, yyyy' }}</ion-card-subtitle>
    <ion-card-title>{{ item.subject }}</ion-card-title>
  </ion-card-header>
  <ion-card-content *ngIf="item.details">
      {{item.details}}
  </ion-card-content>
</ion-card>
</ng-container>
<ng-container *ngIf="stolenList?.length == 0">
  <h3  class="empty-list-message">
    {{ 'NoItemFound' | translate }}
  </h3>
</ng-container>
</section>
<section [hidden]="segmentValue !== 'myList'">
  <ng-container *ngIf="myList?.length > 0">
<ion-card button="true" class="itemCard" *ngFor="let item of myList" [routerLink]="['/lost-found/details', item.id]">
  <app-aspect-ratio [ratio]="{w:64, h:50}">
    <app-image-shell animation="gradient" [display]="'cover'" [src]="item.coverPhotoData" [alt]="'item image'"></app-image-shell>
  </app-aspect-ratio>
    <ion-card-header>
    <ion-card-subtitle>{{ item.createDate?.seconds * 1000 | date:'dd, MMM, yyyy' }}</ion-card-subtitle>
    <ion-card-title>{{ item.subject }}</ion-card-title>
  </ion-card-header>
  <ion-card-content *ngIf="item.details">
      {{item.details}}
  </ion-card-content>
</ion-card>
</ng-container>
<ng-container *ngIf="myList?.length == 0">
  <h3  class="empty-list-message">
    {{ 'NoItemFound' | translate }}
  </h3>
</ng-container>

</section>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="main">
    <ion-icon  name="add" (click)="openFirebaseCreateModal()"></ion-icon>
  </ion-fab-button>
</ion-fab> 
</ion-content>
