<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="deal/listing"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'RequestDetails' | translate }}</ion-title>
    <ion-buttons slot="end">
      <!-- <ion-button (click)="openFirebaseUpdateModal()" [hidden]="!(item.createdBy == AuthId)" > -->
         <ion-button (click)="openFirebaseUpdateModal()">
        Contact
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="deals-details-content">
<!--   {{ startTimeCounter }}<br>
  {{ endTimeCounter }}<br>
  {{ startTimeCounter | appTimeDifference }}<br>
  {{ startTimeCounter | appTimeAgo}} -->
 <ion-row class="expiration-countdown" *ngIf="((startTimeCounter | appTimeDifference) >= 0) && (!item.isShell) && (item.status == 'new')">
  <span class="expiration-lead">Request expires in:</span>
  <app-countdown-timer class="item-countdown" fill="countdown" [end]="startTimeCounter" [units]="{from: 'day', to: 'second'}"></app-countdown-timer>
</ion-row>
<ion-row class="expiration-countdown" *ngIf="((startTimeCounter | appTimeDifference) >= 0) && (!item.isShell) && (item.status == 'accepted')">
    <span class="expiration-lead">Deal starts in:</span>
    <app-countdown-timer class="item-countdown" fill="countdown" [end]="startTimeCounter" [units]="{from: 'day', to: 'second'}"></app-countdown-timer>
  </ion-row>
  <ion-row class="expiration-countdown" *ngIf="((endTimeCounter | appTimeDifference) >= 0 ) && (!item.isShell) && (item.status == 'started')">
    <span class="expiration-lead">Deal ends in:</span>
    <app-countdown-timer class="item-countdown" fill="countdown" [end]="endTimeCounter" [units]="{from: 'day', to: 'second'}"></app-countdown-timer>
  </ion-row>

  <ion-row class="item-info-row">
    <ion-col class="item-details-col" size="12">
      <h2 class="item-name">
        <ion-label color="secondary" position="floating">Date</ion-label>
        <!-- <app-text-shell animation="bouncing" [data]="dateTimeString"></app-text-shell> -->
        <ion-datetime disabled displayFormat="DD, MMM, YYYY" [(ngModel)]="dateTimeString" ></ion-datetime>
      </h2>
      <h2 class="item-name">
      <ion-label color="secondary" position="floating">Start time</ion-label>
      <!-- <app-text-shell animation="bouncing" [data]="startTimeString"></app-text-shell> -->
      <ion-datetime disabled displayFormat="HH:mm" [(ngModel)]="startTimeString"></ion-datetime>
      </h2>
      <h2 class="item-name">
        <ion-label color="secondary" position="floating">End time</ion-label>
        <!-- <app-text-shell animation="bouncing" [data]="endTimeString"></app-text-shell> -->
        <ion-datetime disabled displayFormat="HH:mm" [(ngModel)]="endTimeString"></ion-datetime>
      </h2>
      <h2 class="item-name">
        <ion-label color="secondary" position="floating">Number of places</ion-label>
        <app-text-shell animation="bouncing" [data]="item.count"></app-text-shell>
      </h2>
      <h2 class="item-name">
        <ion-label color="secondary" position="floating">Note</ion-label>
        <ion-item>
          <ion-textarea [value]="item.note" readonly></ion-textarea>
        </ion-item>
      </h2>
      <h2 class="item-name">
        <ion-label color="secondary" position="floating">Status</ion-label>
        <app-text-shell animation="bouncing" [data]="item.status"></app-text-shell>
      </h2>
      <h2 class="item-name">
        <ion-label color="secondary" position="floating">created By</ion-label>
        <app-text-shell animation="bouncing" [data]="item.userInfoRequ?.lastname"></app-text-shell>
      </h2>
      <h2 class="item-name">
        <ion-label color="secondary" position="floating">response By</ion-label>
        <app-text-shell animation="bouncing" [data]="item.userInfoResp?.lastname"></app-text-shell>
      </h2>
      
    </ion-col>
  </ion-row>
  <ion-row class="expiration-countdown" *ngIf="((endTimeCounter | appTimeDifference) < 0 ) && (!item.isShell) && (item.status == 'ended')">
    <span class="expiration-cta"> 
      DEAL ENDED:
    </span>
    <span class="item-time-left">
      <app-text-shell [data]="(endTimeCounter | appTimeAgo)"></app-text-shell>
    </span>
</ion-row>
  <ion-button class="delete-btn" expand="block" color="primary" fill="outline" (click)="proposeParking()" [hidden]="proposeButtonHidden">Propose my parking</ion-button>
  <ion-button class="delete-btn" expand="block" color="primary" fill="outline" (click)="cancelDeal()" [hidden]="cancelDealButtonHidden">Cancel deal</ion-button>
  <ion-button class="delete-btn" expand="block" color="primary" fill="outline" (click)="cancelRequest()" [hidden]="cancelRequestButtonHidden">Cancel request</ion-button>
  <p (click)="oberserableTimer()">Start Observable timer</p> {{subscribeTimer}}
  It is good to help for freee :)
</ion-content>
