<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="start-menu"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'Events' | translate }}</ion-title>
<!--     <ion-buttons slot="end" *ngIf="userIsAdmin">
      <ion-button (click)="openFirebaseCreateModal()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
<ion-toolbar>
  <ion-segment [(ngModel)]="segmentValue" color="main">
    <ion-segment-button value="upcoming">
      <ion-label>{{ 'UpComing' | translate }}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="archive">
      <ion-label>{{ 'Archive' | translate }}</ion-label>
    </ion-segment-button>
</ion-segment>
</ion-toolbar>
</ion-header>
<ion-content>
  <ng-container *ngIf="items.isShell">
    <div class="DivLoading">
      <ion-spinner></ion-spinner>
<!--       <p>
        Fetching data...
      </p> -->
    </div>
  </ng-container>
  <ng-container *ngIf="!items.isShell">
  <section [hidden]="segmentValue !== 'upcoming'">
  <ng-container *ngIf="items?.length > 0">
    <ion-card class="itemCard" button="true" *ngFor="let item of upcomingList" [routerLink]="['/events/details', item.id]">
      <ion-item *ngIf="item.subject" color="main">
        <ion-icon name="calendar-outline" slot="start"></ion-icon>
        <ion-label>{{item.subject}}</ion-label>
      </ion-item>
      <ion-card-header>
        <ion-card-title style="font-size:20px">  {{item.dateTS * 1000 | date:'dd, MMM, yyyy'}} </ion-card-title>
        <ion-card-subtitle>            
          <ion-row>
          <ion-col>
            <ion-label>{{ 'FromTime' | translate }}</ion-label>
          </ion-col>
          <ion-col class="ion-text-end">
            <ion-label>{{item.startDateTS * 1000 | date:'HH:mm'}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>{{ 'ToTime' | translate }}</ion-label>
        </ion-col>
        <ion-col class="ion-text-end">
        <ion-label>{{item.endDateTS * 1000 | date:'HH:mm a'}}</ion-label>
      </ion-col>
    </ion-row>
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    </ng-container>
    <ng-container *ngIf="upcomingList?.length == 0">
      <h3 class="empty-list-message">
        {{ 'NoItemFound' | translate }}
      </h3>
    </ng-container>
    </section>
    <section [hidden]="segmentValue !== 'archive'">
      <ng-container *ngIf="items?.length > 0">
        <ion-card class="itemCard" button="true" *ngFor="let item of archiveList" [routerLink]="['/events/details', item.id]">
          <ion-item *ngIf="item.subject" color="main">
            <ion-icon name="file-tray-stacked-outline" slot="start"></ion-icon>
            <ion-label>{{item.subject}}</ion-label>
          </ion-item>
          <ion-card-header>
            <ion-card-title style="font-size:20px">  {{item.dateTS * 1000 | date:'dd, MMM, yyyy'}} </ion-card-title>
            <ion-card-subtitle>            
              <ion-row>
              <ion-col>
                <ion-label>{{ 'FromTime' | translate }}</ion-label>
              </ion-col>
              <ion-col class="ion-text-end">
                <ion-label>{{item.startDateTS * 1000 | date:'hh:mm a'}}</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label>{{ 'ToTime' | translate }}</ion-label>
            </ion-col>
            <ion-col class="ion-text-end">
            <ion-label>{{item.endDateTS * 1000 | date:'hh:mm a'}}</ion-label>
          </ion-col>
        </ion-row>
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
        </ng-container>
        <ng-container *ngIf="archiveList?.length == 0">
          <h3 class="empty-list-message">
            {{ 'NoItemFound' | translate }}
          </h3>
        </ng-container>
        </section>
          </ng-container>
          <ion-fab vertical="bottom" horizontal="end" slot="fixed"  *ngIf="userIsAdmin">
            <ion-fab-button color="main" (click)="openFirebaseCreateModal()">
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-fab> 
    </ion-content>