@import "../theme/mixins/inputs/radio-tag";

ion-title {
  font-weight: 400;
  letter-spacing: 0.4px;
}

ion-searchbar {
  input {
    border-radius: 30px !important;
  }
}

ion-searchbar.items-searchbar {
  padding: 10px;
  // override Ionic fixed height
  height: 100%;
  // Learn more about CSS contain property here: https://termvader.github.io/css-contain/
  contain: content;
  //border-radius: 40px;
}

.searchbar-input.sc-ion-searchbar-md {
  background-color: #F2F2F2;
  padding-left: 20px;
}

.sliderModal .modal-wrapper {
  --background: transparent !important;
} 

app-image-shell.user-image {
  --image-shell-border-radius: 50%;// var(--app-fair-radius);
}

app-image-shell.item-image {
  --image-shell-border-radius: var(--app-fair-radius);
}

.itemCard {
  border-radius: 20px 20px 20px 20px;
}

.empty-list-message {
  margin: calc(var(--page-margin) * 3);
  color: rgba(var(--ion-color-dark-rgb), 0.4);
  text-align: center;
}

.item-image {
  width: 100%;
  background-position: center center;
}



ion-content {
  --background: var(--app-background-shade);
}
/* ion-segment {
  --background: var(--ion-color-main);
} */

.slider-row {
  .details-slides {
    --bullet-background: var(--ion-color-dark-tint);
    --bullet-background-active: var(--ion-color-dark-tint);

    height: 100%;
    width: 100%;

    .slide-inner-row {
      height: 100%;
      width: 100%;
      padding: 0px;
      // .swiper-pagination space
      padding-bottom: var(--page-swiper-pagination-space);
    }
  }

  .showcase-image {
    width: 100%;

    &.centered-image {
      background-size: auto;
      background-position: center center;
    }
  }
}

/* .divider{
  color: white;
  background-color: var(--ion-color-google-shade);
} */
.createDate{
  font-style:italic;
  padding-left: 25px;
  font-size: small;
}

ion-text.validation{
  font-style:italic;
  padding-left: 10px;
  font-size: small;
  color: var(--ion-color-danger);
}

ion-text.validation{
  font-style:italic;
  padding-left: 10px;
  font-size: small;
  color: var(--ion-color-danger);
}
ion-text.camera-btn{
  padding-left: 10px;
  font-size: large;
} 

.DivLoading{
  margin: 20px 40px; 
  text-align: center;
  // color: var(--ion-color-main);
}

.radio-tags {
  // padding: 0px calc(var(--page-margin) - var(--page-tags-gutter));
  background-color: var(--page-background);
  justify-content: space-between;

  @include radio-tag();

  // Add a deeper selector to override default colors
  .radio-tag {
    --radio-tag-color: var(--ion-color-main);
    --radio-tag-background: var(--ion-color-lightest);
    --radio-tag-active-color: var(--ion-color-lightest);
    --radio-tag-active-background: var(--ion-color-main);

  //  padding: 0px var(--page-tags-gutter);
    margin: var(--page-tags-gutter) 0px;
  }
}

.disabledItem{
  color: var(--ion-color-medium);
  text-decoration: line-through;
}

.sub-item{
  // font-size: medium;
  padding-left: 10px;
  // --color: var(--ion-color-dark);
}

/*Chat Styling*/

.message{
  padding: 10px;
  border-radius:10px;
  margin-bottom :4px;
  white-space:pre-wrap;
  }
  
  .other-message{
  background: var(--ion-color-medium-tint);
  color:#ffffff;
  }
  
  .my-message{
  background: var(--ion-color-light-shade);
  //color:#ffffff;
  }
  
  .time-other{
  font-style: italic;
  color: #ffffff;
  font-size:small;
  float:right;
  }
  
  .time-my-message{
    font-style: italic;
    //color: #ffffff;
    font-size:small;
    float:right;
  }

  .message-input{
    // box-shadow: lightgrey;
  width:100%;
  border:1px solid var(--ion-color-medium);
  border-radius : 10px;
  //background:#fff;
  resize:none;
  //padding-left:10px;
  //padding-right:10px;
  padding:4px;
  }
  .msg-btn{
  --padding-start:0.5em;
  --padding-end:0.5em;
  
  }

  .footerInvite{
    --background: var(--ion-color-light-shade);
  }

  .rowInvite{
    padding: 0px 16px 0px 16px;    
  }

  .btnInvite{
    padding-bottom: 5px;
  }

  /* Chat Styling End*/

  .error-container {
    .error-message {
      margin: calc(var(--page-margin) / 2) 0px;
      display: flex;
      align-items: center;
      color: var(--ion-color-danger);
      font-size: 14px;

      ion-icon {
        padding-inline-end: calc(var(--page-margin) / 2);
      }
    }
  }
  
  .recover-message {
    color: var(--ion-color-medium);
    margin: calc(var(--page-margin) / 2) 0px;
  }