@import "../../../../../theme/mixins/inputs/checkbox-tag";

:host {
  --page-margin: var(--app-fair-margin);
  --page-background: var(--app-background);

  --page-background-shade: var(--app-background-shade);
  --page-tags-gutter: 5px;
}

/*.validations-form {
  margin-bottom: calc(var(--page-margin) * 2);

 .forms-content {
  --background: var(--page-background);
    .inputs-list {
      --ion-item-background: var(--page-background);

      padding: var(--page-margin) var(--page-margin) calc(var(--page-margin) * 2);

      ion-list-header {
        padding-inline-start: 0px;

      }

      .input-item {
        --padding-start: 0px;
        --padding-end: 0px;
        --inner-padding-end: 0px;
      }
    }

    .submit-btn {
      margin: var(--page-margin);
    }
} 
}
.form-actions-wrapper {
  --ion-grid-column-padding: calc(var(--page-margin) / 2);

  padding: calc(var(--page-margin) / 2);

  .submit-btn {
    margin: 0px;
  }

  .delete-btn {
    margin: 0px;
  }
}*/
