@import "../../../../../theme/mixins/scrollbars";

// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-fair-margin);
  --page-background: var(--app-background);
}

// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
.user-content {
  --background: var(--page-background);

  .user-info-row {
    --ion-grid-column-padding: 0px;
    background-color: var(--app-background-shade);
    padding: var(--page-margin);

    .user-image-col {
      margin: 0px auto;
      margin-bottom: calc(var(--page-margin) / 2);

/*        .user-image {
        border-radius: 50%;
      }  */
    }

    .user-details-col {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .user-name {
        margin: 0px;
        margin-bottom: calc(var(--page-margin) / 2);
        min-width: 40%;
      }

    }
  }
}