<ion-header>
  <ion-toolbar color="main">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="start-menu"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'Users' | translate }}<ion-text *ngIf="!items.isShell"> {{ ('(').concat(items?.length).concat(')') }}</ion-text></ion-title>
  </ion-toolbar>
  <ion-toolbar color="main">
    <ion-row>
      <ion-col>
        <ion-searchbar search-icon="undefined" class="items-searchbar" animated [(ngModel)]="searchQuery" (ionChange)="searchList()" placeholder="{{ 'SearchBarUsers' | translate }}"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ng-container *ngIf="items.isShell">
    <div class="DivLoading">
      <ion-spinner></ion-spinner>
    </div>
  </ng-container>
  <ng-container *ngIf="!items.isShell">
  <ion-list class="ion-no-padding" *ngIf="items?.length > 0">
    <ion-item *ngFor="let item of items" [routerLink]="['/users/details', item.id]">
      <ion-avatar slot="start">
        <!-- <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"> -->
        <app-image-shell class="user-image" animation="spinner" [display]="'cover'" [src]="item.photo" [alt]="'item image'"></app-image-shell>
      </ion-avatar>
      <ion-label>{{ item.firstname?.concat(' ').concat(item.lastname) }}</ion-label>
      <!-- <ion-text color="medium" *ngIf="!items.isShell"> {{ ('#').concat(item.app) }}</ion-text> -->
   
    </ion-item>

  </ion-list>
</ng-container>
  <ng-container *ngIf="items?.length == 0">
    <h3 class="empty-list-message">
      {{ 'NoItemFound' | translate }}
    </h3>
  </ng-container>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="main">
      <ion-icon  name="add" (click)="openFirebaseCreateModal()"></ion-icon>
    </ion-fab-button>
  </ion-fab> 
</ion-content>
