  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="end">
        <ion-button (click)="dismissModal()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>{{ 'DiscussionWith' | translate }} {{otherUserName}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
   <ion-grid class="ion-padding"> 
    <div *ngFor="let message of messages | async">
      <ion-row class="ion-justify-content-start">
      <ion-col size="9" *ngIf="currentUserId !== message.userId" class="message other-message ion-margin-bottom">
      <b>{{otherUserName}}</b><br>
      <span>{{message.text}}</span><br>
      <div class="time-chat">
        {{message.createdAt?.seconds * 1000 | date:'dd, MMM, yyyy hh:mm a'}}
      </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-end">
      <ion-col size="9" *ngIf="currentUserId === message.userId" class="message my-message ion-margin-bottom">
        <b>{{userName}}</b><br>
        <span>{{message.text}}</span><br>
        <div class="time-chat">
        <!-- {{message.createdAt?.seconds * 1000 | date:'short'}}<br> -->
        {{message.createdAt?.seconds * 1000 | date:'dd, MMM, yyyy hh:mm a'}}
        </div>
       </ion-col>
       </ion-row>
      </div>
   </ion-grid> 
  </ion-content>
  <ion-footer>
    <ion-toolbar color="light">
      <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="10">
          <ion-textarea rows="4" placeholder="{{ 'Message' | translate }}" autocapitalize spellcheck="true" [(ngModel)]="msgText" class="message-input ion-no-margin"></ion-textarea>
        </ion-col>
        <ion-col size="2" class="msg-btn ion-text-center">
          <ion-button (click)="sendMessage()" fill="clear" color="dark" [disabled]="msgText === ''" class="msg-btn">
            <ion-icon name="send-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row> 
    </ion-grid>
    </ion-toolbar>
  </ion-footer>
