<ion-header>
  <ion-toolbar color="main">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="lost-found/listing"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'Details' | translate }}</ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="openFirebaseUpdateModal()" *ngIf="userIsCreator">
          {{ 'Edit' | translate }}
      </ion-button> 
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ng-container *ngIf="item.isShell">
    <div class="DivLoading">
      <ion-spinner></ion-spinner>
<!--       <p>
        Fetching data...
      </p> -->
    </div>
  </ng-container>
  <ng-container *ngIf="!item.isShell">
  <ion-card class="itemCard">  
        <!-- <app-image-shell [mode]="'cover'" animation= "spinner" class="showcase-image" [ngClass]="{'centered-image': (image.type === 'square'), 'fill-image': (image.type === 'fill')}" [src]="image"> -->
  <ion-row class="slider-row">
        <ion-slides class="details-slides" pager="true" [options]="slidesOptions">
          <ion-slide *ngFor="let image of photoSlider" (click)="openSliderModal()">
            <ion-row class="slide-inner-row">
                <app-image-shell [display]="'cover'" animation="gradient" class="showcase-image" [ngClass]="centered-image" [src]="image">
                <app-aspect-ratio [ratio]="{w:64, h:50}"> 
                </app-aspect-ratio>
              </app-image-shell>
            </ion-row>
          </ion-slide>
        </ion-slides>
      </ion-row>
      <!-- <section> -->
<!--           <ion-list-header lines="inset">
            <ion-label>Trending</ion-label>
          </ion-list-header> -->
          <ion-item lines="none">
            <ion-label>{{ 'Type' | translate }}</ion-label>
            <ion-text>{{ item?.type }}</ion-text>
          </ion-item>
          <ion-item lines="none">
            <ion-label>{{ 'Subject' | translate }}</ion-label>
            <ion-text>{{ item?.subject }}</ion-text>                 
          </ion-item>
          <ion-item-divider> 
            <ion-label>{{ 'CreatorInfo' | translate}}</ion-label>
          </ion-item-divider>
          <ion-item lines="none">    
            <ion-label>{{ 'CreatorName' | translate}}</ion-label>
            <ion-text>{{ (item.creatorDetails?.firstname) ? item.creatorDetails?.firstname.concat(' ').concat(item.creatorDetails?.lastname) : null }}</ion-text>
          </ion-item>
            <ion-item lines="none">
              <ion-label>{{ 'Email' | translate }}</ion-label>
              <ion-text>{{ item.creatorDetails?.email }}</ion-text>
            </ion-item>
            <ion-item lines="none">
              <ion-label >{{ 'Phone' | translate }}</ion-label>
              <ion-text>{{ item.creatorDetails?.phone }}</ion-text>
            </ion-item>
            <!-- <div *ngIf="item?.description != ''"> -->
            <!-- <ion-item-divider class="divider"> -->
              <ion-item-divider>
              <ion-label>{{ 'Details' | translate }}</ion-label>
            </ion-item-divider>
     <!--        <ion-item lines="none">
              <ion-label>{{ 'Description' | translate }}</ion-label>
            </ion-item> -->
            <ion-item>
              <ion-textarea rows="6" [value]="item.details" readonly class="ion-no-padding"></ion-textarea>
            </ion-item>
          <!-- </div> -->
        </ion-card>
        <ng-container *ngIf="item.createDate">
          <ion-text color="dark" class="ion-padding-left createDate">{{item.createDate?.seconds * 1000 | date:'dd, MMM, yyyy hh:mm a'}}</ion-text>
        </ng-container>
      </ng-container>
       <ion-fab vertical="top" horizontal="end" slot="fixed" >
        <ion-fab-button color="main" size="small"> 
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="start">
          <ion-fab-button (click)="sendEmail()">
            <ion-icon name="mail"></ion-icon>
          </ion-fab-button>
          <ion-fab-button (click)="sendEmail()">
            <ion-icon name="call"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab> 
</ion-content>
