<!-- This is the proper way if you have submit button outside your ion-content form (typically in the ion-header or ion-footer) -->
<!-- (ref: https://github.com/ionic-team/ionic/issues/16661) -->
<form class="ion-page" [formGroup]="updateItemForm" (ngSubmit)="updateItem()">
  <ion-header>
    <ion-toolbar color="main">
      <ion-buttons slot="end">
        <ion-button (click)="dismissModal()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>{{ 'Update' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
      <!-- <ion-list > -->
       <ion-item>
         <ion-label position="floating">{{ 'Object' | translate }}</ion-label>
         <ion-input autocapitalize type="text" formControlName="object"></ion-input>
       </ion-item>
       <ion-item>
         <ion-label position="floating">{{ 'Price' | translate }}</ion-label>
         <ion-input type="number" formControlName="price"></ion-input>
       </ion-item>
       <ion-item>
        <ion-label position="floating">{{ 'Description' | translate }}</ion-label>
        <ion-textarea autocapitalize rows="6" cols="20" formControlName="description"></ion-textarea>
      </ion-item>
       <ion-item>
        <ion-label>{{ 'Status' | translate }}</ion-label>
               <ion-radio-group formControlName="status">
                 <ion-row class="radio-tags">
                   <ion-col>
                   <ion-item class="radio-tag" lines="none">
                     <ion-label class="tag-label">{{ 'Active' | translate }}</ion-label>
                     <ion-radio value="active"></ion-radio>
                   </ion-item>
                 </ion-col>
                   <ion-col>
                     <ion-item class="radio-tag" lines="none">
                       <ion-label class="tag-label">{{ 'InActive' | translate }}</ion-label>
                       <ion-radio value="inactive"></ion-radio>
                     </ion-item>
                   </ion-col>
                   <ion-col>
                     <ion-item class="radio-tag" lines="none">
                       <ion-label class="tag-label">{{ 'Sold' | translate }}</ion-label>
                       <ion-radio value="sold"></ion-radio>
                     </ion-item>
                   </ion-col>
                 </ion-row>
               </ion-radio-group>
             </ion-item> 
       <ion-item-divider>
        <ion-button size="small" color="main" (click)="selectImageSource()" [disabled]="postImages.length >= 3" slot="start">
         <!-- <div class="ion-padding">{{ 'AddPhoto' | translate }}</div>  -->
        <ion-icon name="camera-outline"></ion-icon>
        <ion-text class="camera-btn">+</ion-text>
        </ion-button> 
      </ion-item-divider>
      <ion-reorder-group disabled="false" (ionItemReorder)="doReorder($event)">
        <ion-item *ngFor="let image of postImages">

        <ion-col class="ion-padding">
          <app-image-shell class="item-image" [display]="'cover'" animation="spinner" [src]="image.photoData">
            <app-aspect-ratio [ratio]="{w:64, h:50}">
           </app-aspect-ratio> 
         </app-image-shell>
        </ion-col>
        <ion-col>
          <ion-button color="medium" (click)="deletePhoto(postImages.indexOf(image))">          
            <ion-icon slot="icon-only" name="trash"></ion-icon>      
          </ion-button>  
        </ion-col>
        <ion-col>
          <ion-button color="main" (click)="makeCover(postImages.indexOf(image))" [disabled]="image.isCover">          
            {{ 'CoverPhoto' | translate }}
          </ion-button> 
        </ion-col>
      <ion-reorder slot="end"></ion-reorder>
    </ion-item>
    </ion-reorder-group>
  </ion-content>

  <ion-footer>
    <ng-container *ngIf="updateItemForm.get('object').invalid && (updateItemForm.dirty || updateItemForm.touched)">
      <ion-row *ngIf="updateItemForm.get('object').errors.required">
        <ion-col>
        <ion-text class="ion-padding-left validation">{{ 'ObjectRequired' | translate }}</ion-text>
        </ion-col>
      </ion-row>
    </ng-container>
    <ng-container *ngIf="updateItemForm.get('price').invalid && (updateItemForm.dirty || updateItemForm.touched)">
      <ion-row *ngIf="updateItemForm.get('price').errors.required">
        <ion-col>
        <ion-text class="ion-padding-left validation">{{ 'PriceRequired' | translate }}</ion-text>
        </ion-col>
      </ion-row>
    </ng-container>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="primary" fill="outline" (click)="deleteItem()">{{ 'Delete' | translate }}</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" color="main" type="submit" fill="solid" [disabled]="!(updateItemForm.valid && updateItemForm.dirty)">{{ 'Update' | translate }}</ion-button>
      </ion-col>
    </ion-row>
  </ion-footer>
</form>
