<ion-header>
  <ion-toolbar color="main">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="start-menu"></ion-back-button>
    </ion-buttons>
    <!-- <ion-searchbar search-icon="undefined" class="items-searchbar" animated [(ngModel)]="searchQuery" (ionChange)="searchList()" placeholder="{{ 'SearchBarPosts' | translate }}"></ion-searchbar> -->
  </ion-toolbar>
    <ion-toolbar *ngIf="(!items.isShell) && (items?.length > 0)">
        <ion-segment [(ngModel)]="segmentValue" color="main">
          <ion-segment-button value="new">
            <ion-label>{{ 'New' | translate }}</ion-label>
          </ion-segment-button>
          <ion-segment-button value="archive" *ngIf="archiveList?.length > 0">
            <ion-label>{{ 'Archive' | translate }}</ion-label>
          </ion-segment-button>
      </ion-segment>
      </ion-toolbar>
</ion-header>
<ion-content>
  <ng-container *ngIf="items.isShell">
    <div class="DivLoading">
      <ion-spinner></ion-spinner>
<!--       <p>
        Fetching data...
      </p> -->
    </div>
  </ng-container>
  <ng-container *ngIf="!items.isShell">
    <section [hidden]="segmentValue !== 'new'">
    <ng-container *ngIf="newList?.length > 0">
      <ion-card class="itemCard" *ngFor="let item of newList" [routerLink]="['/reportproblem/details', item.id]">
        <app-aspect-ratio [ratio]="{w:64, h:50}">
          <app-image-shell animation="gradient" [display]="'cover'" [src]="item.coverPhotoData" [alt]="'item image'"></app-image-shell>
        </app-aspect-ratio>
<!--         <ion-item *ngIf="item.createDate" color="main">
          <ion-icon name="build-outline" slot="end"></ion-icon>
          <ion-label>{{ item.createDate?.seconds * 1000 | date:'dd, MMM, yyyy' }}</ion-label>
        </ion-item> -->
        <ion-card-header>
          <ion-card-subtitle>
            <!-- {{ item.description }} -->
          <!-- </ion-card-subtitle>
          <ion-card-title>     -->
          <ion-row>
            <ion-col class="ion-no-padding">
              <ion-text>{{ item.createDate?.seconds * 1000 | date:'dd, MMM, yyyy' }}</ion-text>
            </ion-col>
            <ion-col class="ion-no-padding ion-text-right">
              <ion-text>{{ item.userEmail }}</ion-text>
            </ion-col>
          </ion-row>
          </ion-card-subtitle>
          </ion-card-header>
      </ion-card>
</ng-container>

<ng-container *ngIf="newList?.length == 0">
  <h3 class="empty-list-message">
    {{ 'NoItemFound' | translate }}
  </h3>
</ng-container>
</section>
<section [hidden]="segmentValue !== 'archive'">
  <ng-container *ngIf="archiveList?.length > 0">
    <ion-card class="itemCard" *ngFor="let item of archiveList" [routerLink]="['/reportproblem/details', item.id]">
      <app-aspect-ratio [ratio]="{w:64, h:50}">
        <app-image-shell animation="gradient" [display]="'cover'" [src]="item.coverPhotoData" [alt]="'item image'"></app-image-shell>
      </app-aspect-ratio>
<!--       <ion-item *ngIf="item.createDate" color="main">
        <ion-icon name="build-outline" slot="end"></ion-icon>
        <ion-label>{{ item.createDate?.seconds * 1000 | date:'dd, MMM, yyyy' }}</ion-label>
      </ion-item> -->
      <ion-card-header>
        <ion-card-subtitle>
          <!-- {{ item.description }} -->
        <!-- </ion-card-subtitle>
        <ion-card-title>     -->
        <ion-row>
          <ion-col class="ion-no-padding">
            <ion-text>{{ item.createDate?.seconds * 1000 | date:'dd, MMM, yyyy' }}</ion-text>
          </ion-col>
          <ion-col class="ion-no-padding ion-text-right">
            <ion-text>{{ item.userEmail }}</ion-text>
          </ion-col>
        </ion-row>
        </ion-card-subtitle>
        </ion-card-header>
    </ion-card>
</ng-container>
<ng-container *ngIf="archiveList?.length == 0">
  <h3 class="empty-list-message">
    {{ 'NoItemFound' | translate }}
  </h3>
</ng-container>
</section>
</ng-container>
<!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="main" (click)="openFirebaseCreateModal()">
    <ion-icon  name="add" ></ion-icon>
  </ion-fab-button>
</ion-fab>  -->
</ion-content>
