<ion-header>
  <ion-toolbar color="main">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tickets/listing"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-no-padding">{{ 'TicketDetails' | translate }}</ion-title>
    <ion-buttons slot="end" *ngIf="canModify">
      <ion-button (click)="openFirebaseUpdateModal()">
        {{ 'Edit' | translate }}
      </ion-button>
    </ion-buttons>
<!--     <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>
<ion-content>
  <ng-container *ngIf="item.isShell">
    <div class="DivLoading">
      <ion-spinner></ion-spinner>
<!--       <p>
        Fetching data...
      </p> -->
    </div>
  </ng-container>
  <ng-container *ngIf="!item.isShell">

    
    <ion-card class="itemCard" *ngIf="bookingSection">
      <ion-item *ngIf="item.reference" color="main">
        <ion-label>{{ 'TicketReference' | translate }}</ion-label>
       <ion-text>{{ item.reference }}</ion-text> 
      </ion-item>
      <ion-item *ngIf="item.subject">    
        <ion-label>{{ 'Subject' | translate }}</ion-label>
        <ion-text>{{ item.subject | translate }}</ion-text> 
      </ion-item>
      <ion-item *ngIf="item.createDate">    
        <ion-label>{{ 'TicketDate' | translate }}</ion-label>
        {{ item.createDate?.seconds * 1000 | date:'dd, MMM, yyyy hh:mm a' }}
        
      </ion-item>
      <ion-item *ngIf="item.creatorDetails">    
        <ion-label>{{ 'TicketCreator' | translate }}</ion-label>
        <!-- {{item.creatorDetails.firstname.concat(" ").concat(item.creatorDetails.lastname)}} -->
        
         <ion-text>{{item.creatorDetails.firstname}}</ion-text> 
      </ion-item>
      <ion-item>
        <ion-label>{{ 'BookingDate' | translate }}</ion-label>
        <ion-text>{{date}}</ion-text>          
      </ion-item>
      <ion-item>
        <ion-label>{{ 'FromTime' | translate }}</ion-label>
        <ion-text>{{startTime}}</ion-text>
      </ion-item>
      <ion-item>
          <ion-label>{{ 'ToTime' | translate }}</ion-label>
          <ion-text>{{endTime}}</ion-text>
      </ion-item>
      <ion-item *ngIf="item.status">
        <ion-label>{{ 'TicketStatus' | translate }}</ion-label>
        <ion-text>{{ status }}</ion-text> 
      </ion-item>
      </ion-card>
      <ion-card class="itemCard" *ngIf="!bookingSection">
      <ion-card-content class="ion-no-padding">
        <ion-item *ngIf="item.reference" color='main'>
          <ion-label>{{ 'TicketReference' | translate }}</ion-label>
         <ion-text>{{item.reference}}</ion-text> 
        </ion-item>
        <ion-item *ngIf="item.subject" >        
          <ion-label>{{ 'Subject' | translate }}</ion-label>
          <ion-text>{{ item.subject | translate }}</ion-text>            
           </ion-item>
        <ion-item *ngIf="item.createDate">    
          <ion-label>{{ 'TicketDate' | translate }}</ion-label>
          {{item.createDate?.seconds * 1000 | date:'dd, MMM, yyyy hh:mm a'}}
        </ion-item>
        <ion-item *ngIf="item.creatorDetails">    
          <ion-label>{{ 'TicketCreator' | translate }}</ion-label>
          {{item.creatorDetails.firstname}}
          
        </ion-item>

            <ion-item *ngIf="item.status">
              <ion-label>{{ 'TicketStatus' | translate }}</ion-label>
             <ion-text>{{ status }}</ion-text> 
            </ion-item>

          </ion-card-content>
          </ion-card>
          <ion-card class="itemCard" *ngIf="item.details">
            <ion-card-header>
              <!-- <ion-card-subtitle>{{ 'Details' | translate }}</ion-card-subtitle> -->
              <ion-card-title>{{ 'Details' | translate }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-textarea class="ion-no-padding" rows="6" [value]="item.details" readonly></ion-textarea>
            </ion-card-content>
          </ion-card>
        </ng-container>
          <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button color="main" (click)="openChatModal()">
              <ion-icon name="chatbubbles-outline" ></ion-icon>
            </ion-fab-button>
          </ion-fab> 
</ion-content>
<!-- <ion-button> 
  <ion-spinner></ion-spinner>
</ion-button> -->