<ion-header>
  <ion-toolbar color="main">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="start-menu"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'ParkingRequests' | translate }} </ion-title>
<!-- - {{ loginId }}{{ loginName }}    <ion-buttons slot="end">
      <ion-button (click)="chooseType()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="segmentValue" color="main">
        <ion-segment-button value="newRequests">
          <ion-label>{{ 'NewRequests' | translate }}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="newOffers">
          <ion-label>{{ 'NewOffers' | translate }}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="myRequests">
          <ion-label>{{ 'MyList' | translate }}</ion-label>
        </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  </ion-header>
  <ion-content class="deals-requests-listing-content">
    <ng-container *ngIf="items.isShell">
      <div class="DivLoading">
        <ion-spinner></ion-spinner>
  <!--       <p>
          Fetching data...
        </p> -->
      </div>
    </ng-container>
    <ng-container *ngIf="!items.isShell">
    <section [hidden]="segmentValue !== 'newRequests'">
      <ng-container *ngIf="newRequestsList?.length > 0">
        <div class="listing-item" *ngFor="let item of newRequestsList" [ngClass]="{'accepted': (item.status == 'accepted'), 'new': (item.status == 'new'), 'expired': (item.status == 'expired'),'ended': (item.status == 'ended')}">
          <ion-row class="top-row">
            <ion-col class="info-col call-to-action-col" size="auto" *ngIf="item.type == 'offer'">
              <h4 class="item-type-offer">
                {{ 'Offer' | translate }}
              </h4>
          </ion-col>
          <ion-col class="info-col" *ngIf="item.type == 'request'">
            <h4 class="item-type-request">
              {{ 'Request' | translate }}
            </h4>
        </ion-col>
            <ion-col *ngIf="((item?.startTimeCounter | appTimeDifference) > 0) && (item?.status == 'new')" class="call-to-action-col">
              <ion-button class="claim-button" expand="block" color="claim" [routerLink]="['/deal/details', item.id]">
                <span class="button-cta">{{ 'Details' | translate }}</span>
                <ion-icon slot="end" name="arrow-forward"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col *ngIf="item?.status !== 'new'" class="call-to-action-col">									 
              <div class="expired-cta">{{ item?.status | translate }}</div>
            </ion-col>
          </ion-row>
          <ion-row class="middle-row ion-justify-content-between">
            <ion-col class="item-description" size="auto">
              <ion-row >
                <ion-col>
                <h4 class="item-name">
                   <ion-label>{{ item?.date }}</ion-label>
                </h4>
              </ion-col>
            </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-label>{{ 'FromTime' | translate }}</ion-label>
                  </ion-col>
                  <ion-col class="ion-text-end">
                    <ion-label>{{ item?.startTime }}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-label>{{ 'ToTime' | translate }}</ion-label>
                </ion-col>
                <ion-col class="ion-text-end">
                <ion-label>{{ item?.endTime }}</ion-label>
              </ion-col>
            </ion-row>
            </ion-col>
              <ion-col class="time-left-wrapper item-description" [ngClass]="{'countdown-active': (item?.status == 'new')}">

              <ng-container *ngIf="(item?.status == 'new') && ((item?.startTimeCounter | appTimeDifference) > 0)" >
                <span class="expiration-cta">{{ 'ExpiresIn' | translate }}</span>
                <ion-row class="countdown-wrapper" >
                  <app-countdown-timer class="item-countdown" fill="inner-time" [end]="item?.startTimeCounter" [units]="{from: 'day', to: 'second'}"></app-countdown-timer>																											   
                </ion-row>
              </ng-container>
            </ion-col>
          </ion-row>
        </div>
    </ng-container>
     <ng-container *ngIf="newRequestsList?.length == 0">
     <h3 class="empty-list-message">
       {{ 'NoRequestsFound' | translate }}
     </h3>
    </ng-container>
    </section>
    <section [hidden]="segmentValue !== 'newOffers'">
      <ng-container *ngIf="newOffersList?.length > 0">
        <div class="listing-item" *ngFor="let item of newOffersList" [ngClass]="{'accepted': (item.status == 'accepted'), 'new': (item.status == 'new'), 'expired': (item.status == 'expired'),'ended': (item.status == 'ended')}">
          <ion-row class="top-row">
            <ion-col class="info-col call-to-action-col" size="auto" *ngIf="item.type == 'offer'">
              <h4 class="item-type-offer">
                {{ 'Offer' | translate }}
              </h4>
          </ion-col>
          <ion-col class="info-col" *ngIf="item.type == 'request'">
            <h4 class="item-type-request">
              {{ 'Request' | translate }}
            </h4>
        </ion-col>
            <ion-col *ngIf="((item?.startTimeCounter | appTimeDifference) > 0) && (item?.status == 'new')" class="call-to-action-col">
              <ion-button class="claim-button" expand="block" color="claim" [routerLink]="['/deal/details', item.id]">
                <span class="button-cta">{{ 'Details' | translate }}</span>
                <ion-icon slot="end" name="arrow-forward"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col *ngIf="item?.status !== 'new'" class="call-to-action-col">
              <div class="expired-cta">{{ item?.status | translate }}</div>
            </ion-col>	  
          </ion-row>
          <ion-row class="middle-row ion-justify-content-between">
            <ion-col class="item-description" size="auto">
              <ion-row >
                <ion-col>
                <h4 class="item-name">
                  <ion-label>{{ item?.date }}</ion-label>
                </h4>
              </ion-col>
            </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-label>{{ 'FromTime' | translate }}</ion-label>
                  </ion-col>
                  <ion-col class="ion-text-end">
                    <ion-label>{{ item?.startTime }}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-label>{{ 'ToTime' | translate }}</ion-label>
                </ion-col>
                <ion-col class="ion-text-end">
                  <ion-label>{{ item?.endTime }}</ion-label>
              </ion-col>
            </ion-row>

            </ion-col>
              <ion-col class="time-left-wrapper item-description" [ngClass]="{'countdown-active': (item?.status == 'new')}">

              <ng-container *ngIf="(item?.status == 'new') && ((item?.startTimeCounter | appTimeDifference) > 0)" >
                <span class="expiration-cta">{{ 'ExpiresIn' | translate }}</span>
                <ion-row class="countdown-wrapper" >
                  <app-countdown-timer class="item-countdown" fill="inner-time" [end]="item?.startTimeCounter" [units]="{from: 'day', to: 'second'}"></app-countdown-timer>																											   
                </ion-row>
              </ng-container>
            </ion-col>
          </ion-row>
        </div>
    </ng-container>
     <ng-container *ngIf="newOffersList?.length == 0">
     <h3 class="empty-list-message">
       {{ 'NoOffersFound' | translate }}
     </h3>
    </ng-container>
    </section>
    <section [hidden]="segmentValue !== 'myRequests'">
      <ng-container *ngIf="myRequestsList?.length > 0">
        <div class="listing-item" *ngFor="let item of myRequestsList" [ngClass]="{'canceled': (item?.status == 'canceled'), 'accepted': (item?.status == 'accepted'), 'new': (item?.status == 'new'), 'expired': (item?.status == 'expired'),'started': (item?.status == 'started'), 'ended': (item?.status == 'ended')}">
          <ion-row class="top-row">
            <ion-col class="info-col call-to-action-col" *ngIf="item.type == 'offer'">
              <h4 class="item-type-offer">
                {{ 'Offer' | translate }}
              </h4>
          </ion-col>
          <ion-col class="info-col" *ngIf="item.type == 'request'">
            <h4 class="item-type-request">
              {{ 'Request' | translate }}
            </h4>
        </ion-col>
            <ion-col *ngIf="((item?.startTimeCounter | appTimeDifference) > 0) && (item?.status == 'new')" class="call-to-action-col">
              <ion-button class="claim-button" expand="block" color="claim"  [routerLink]="['/deal/details', item.id]">
                <span class="button-cta">{{ item?.status | translate }}</span>
                <ion-icon slot="end" name="arrow-forward"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col *ngIf="(item?.status == 'accepted')" class="call-to-action-col">
              <ion-button class="claim-button" expand="block" color="success"  [routerLink]="['/deal/details', item.id]">
                <span class="button-cta">{{ item?.status | translate }}</span>
                <ion-icon slot="end" name="arrow-forward"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col *ngIf="(item?.status == 'started')" class="call-to-action-col">
              <ion-button class="claim-button" expand="block" color="danger"  [routerLink]="['/deal/details', item.id]">
                <span class="button-cta">{{ item?.status | translate }}</span>
                <ion-icon slot="end" name="arrow-forward"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col *ngIf="(item?.status == 'ended')" class="call-to-action-col">
              <ion-button class="claim-button" expand="block" color="medium"  [routerLink]="['/deal/details', item.id]">
                <span class="button-cta">{{ item?.status | translate }}</span>
                <ion-icon slot="end" name="arrow-forward"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col *ngIf="(item?.status == 'expired') || (item?.status == 'canceled')" class="call-to-action-col">
              <ion-button class="claim-button" expand="block" color="medium">
                <span class="button-cta">{{ item?.status | translate }}</span>
              </ion-button>
            </ion-col>
<!--             <ion-col class="call-to-action-col">
              <ion-button class="claim-button" expand="block" color="medium"  [routerLink]="['/deal/details', item.id]">
                <span class="button-cta">{{ item?.status | translate }}</span>
                <ion-icon slot="end" name="arrow-forward"></ion-icon>
              </ion-button>
            </ion-col> -->
          </ion-row>
          <ion-row class="middle-row ion-justify-content-between" >
            <ion-col class="item-description" size="auto">
                  <ion-row>
                    <ion-col>
                <h4 class="item-name" >
                  <ion-label>{{ item?.date }}</ion-label>
                </h4>
              </ion-col>
              </ion-row>
                <ion-row >
                  <ion-col >
                    <ion-label>{{ 'FromTime' | translate }}</ion-label>
                  </ion-col>
                  <ion-col class="ion-text-end" >
                    <ion-label>{{ item?.startTime }}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-label>{{ 'ToTime' | translate }}</ion-label>
                </ion-col>
                <ion-col class="ion-text-end">       
                  <ion-label>{{ item?.endTime }}</ion-label>
              </ion-col>
            </ion-row>
          </ion-col>
              <ion-col class="time-left-wrapper item-description" [ngClass]="{'countdown-active': ((item?.status == 'new') || (item?.status == 'started') || (item?.status == 'accepted'))}">
<!--                 {{item?.startTimeCounter}}<br>
                {{item?.endTimeCounter}} -->
                
<!--                 <ng-container *ngIf="(item?.status == 'expired')">
                <ion-row>
                  <ion-col>
                <span class="item-description ion-text-end">
                  <ion-input class="ion-no-padding" type="text" readonly [value]="(item?.startTimeCounter | appTimeAgo)"></ion-input>            
                </span>
              </ion-col>
              <ion-col class="item-description ion-text-end">
                {{ 'Ago' | translate }}
              </ion-col>
            </ion-row>
              </ng-container>
              <ng-container *ngIf="(item?.status == 'ended')">
                <ion-row>
                  <ion-col>
                <span class="item-description ion-text-end">
                  <ion-input class="ion-no-padding ion-text-end" type="text" readonly [value]="(item?.endTimeCounter | appTimeAgo)"></ion-input>
                </span>
              </ion-col>
              <ion-col class="item-description ion-text-end">
              {{ 'Ago' | translate }}
            </ion-col>
            </ion-row>
              </ng-container> -->
              <ng-container *ngIf="(item?.status == 'new') && ((item?.startTimeCounter | appTimeDifference) > 0)" >
                <span class="expiration-cta">{{ 'ExpiresIn' | translate }}</span>
                <ion-row class="countdown-wrapper" >
                  <app-countdown-timer class="item-countdown" fill="inner-time" [end]="item?.startTimeCounter" [units]="{from: 'day', to: 'second'}"></app-countdown-timer>
                </ion-row>
              </ng-container>
              <ng-container *ngIf="(item?.status == 'accepted') && ((item?.startTimeCounter | appTimeDifference) > 0)" >
                <span class="expiration-cta">{{ 'DealStartsIn' | translate }}</span>
                <ion-row class="countdown-wrapper" >
                  <app-countdown-timer class="item-countdown" fill="inner-time" [end]="item?.startTimeCounter" [units]="{from: 'day', to: 'second'}"></app-countdown-timer>
                </ion-row>
              </ng-container>
              <ng-container *ngIf="(item?.status == 'started') && ((item?.endTimeCounter | appTimeDifference) > 0)" >
                <span class="expiration-cta">{{ 'DealEndsIn' | translate }}</span>
                <ion-row class="countdown-wrapper" >
                  <app-countdown-timer class="item-countdown" fill="inner-time" [end]="item?.endTimeCounter" [units]="{from: 'day', to: 'second'}"></app-countdown-timer>
                </ion-row>
              </ng-container>
            </ion-col>
          </ion-row>
        </div>
    </ng-container>
     <ng-container *ngIf="myRequestsList?.length == 0">
     <h3 class="empty-list-message">
       {{ 'MyListEmpty' | translate }}
     </h3>
    </ng-container>
    </section>
  </ng-container>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="main" (click)="chooseType()">
      <ion-icon  name="add" ></ion-icon>
    </ion-fab-button>
  </ion-fab> 
</ion-content>