<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/start-menu"></ion-back-button>
    </ion-buttons>
    <!-- <ion-searchbar placeholder="Search Favorites"></ion-searchbar> -->
    <ion-searchbar search-icon="undefined" class="items-searchbar" [(ngModel)]="searchQuery" (ionChange)="searchList()" placeholder="{{ 'SearchBarTicketsRef' | translate }}"></ion-searchbar>
  </ion-toolbar>
<ion-toolbar *ngIf="(!items.isShell) && (items?.length > 0) && userIsAdmin">
  <ion-segment [(ngModel)]="segmentValue" color="main">
    <ion-segment-button value="active">
      <ion-label>{{ 'ActiveTickets' | translate }}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="archive">
      <ion-label>{{ 'ArchivedTickets' | translate }}</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>
</ion-header>
<ion-content>
<ng-container *ngIf="items.isShell">
  <div class="DivLoading">
    <ion-spinner></ion-spinner>
  </div>
</ng-container>
<ng-container *ngIf="!items.isShell">
<ng-container *ngIf="userIsAdmin">
  <ng-container *ngIf="segmentValue == 'active'">
  <div *ngIf="activeList?.length > 0">
      <ion-card class="itemCardTicket" *ngFor="let item of activeList" [routerLink]="['/app/start-menu/tickets/details', item.id]">
        <ion-item *ngIf="item.subject" color="main">
          <ion-icon name="build-outline" slot="end"></ion-icon>
          <ion-label>{{ '#Ref: '.concat(item.reference) }}</ion-label>
        </ion-item>
        <ion-card-header>
          <ion-card-subtitle>
            {{ item.createDate?.seconds * 1000 | date:'dd, MMM, yyyy' }}
          </ion-card-subtitle>
          <ion-card-title style="font-size:20px">    
          <ion-row>
            <ion-col class="ion-no-padding">
              <ion-text>{{ item.subjectTranslation }}</ion-text>
            </ion-col>
            <ion-col class="ion-no-padding ion-text-right">
              <ion-text>{{ item.statusTranslation }}</ion-text>
            </ion-col>
          </ion-row>
          </ion-card-title>
        </ion-card-header>

      </ion-card>
  </div>
  <h3 *ngIf="activeList?.length == 0" class="empty-list-message">
    {{ 'NoItemFound' | translate }}
  </h3>
</ng-container>
<ng-container *ngIf="segmentValue == 'archive'">
  <div *ngIf="archivedList?.length > 0">
      <ion-card class="itemCardTicket" *ngFor="let item of archivedList" [routerLink]="['/app/start-menu/tickets/details', item.id]">
        <ion-item *ngIf="item.subject" color="main">
          <ion-icon name="build-outline" slot="start"></ion-icon>
          <ion-label>{{ '#Ref: '.concat(item.reference) }}</ion-label>
        </ion-item>
        <ion-card-header>
          <ion-card-subtitle>
            {{ item.createDate?.seconds * 1000 | date:'dd, MMM, yyyy' }}
          </ion-card-subtitle>
          <ion-card-title style="font-size:20px">    
          <ion-row>
            <ion-col class="ion-no-padding">
              <ion-text>{{ item.subjectTranslation }}</ion-text>
            </ion-col>
            <ion-col class="ion-no-padding ion-text-right">
              <ion-text>{{ item.statusTranslation }}</ion-text>
            </ion-col>
          </ion-row>
          </ion-card-title>
        </ion-card-header>

      </ion-card>
  </div>
  <h3 *ngIf="archivedList?.length == 0" class="empty-list-message">
    {{ 'NoItemFound' | translate }}
  </h3>
</ng-container>
</ng-container>
<ng-container *ngIf="!userIsAdmin">
  <ng-container *ngIf="items.isShell">
    <div class="DivLoading">
      <ion-spinner></ion-spinner>
    </div>
  </ng-container>
  <div *ngIf="ticketsList?.length > 0">
    <ion-card class="itemCardTicket" *ngFor="let item of ticketsList" [routerLink]="['/app/start-menu/tickets/details', item.id]">
      <ion-item *ngIf="item.subject" color="main">
        <ion-icon name="build-outline" slot="start"></ion-icon>
        <ion-label>{{ '#Ref: '.concat(item.reference) }}</ion-label>
      </ion-item>
      <ion-card-header>
        <ion-card-subtitle>
          {{ item.createDate?.seconds * 1000 | date:'dd, MMM, yyyy' }}
        </ion-card-subtitle>
        <ion-card-title style="font-size:20px">    
        <ion-row>
          <ion-col class="ion-no-padding">
            <ion-text>{{ item.subjectTranslation }}</ion-text>
          </ion-col>
          <ion-col class="ion-no-padding ion-text-right">
            <ion-text>{{ item.statusTranslation }}</ion-text>
          </ion-col>
        </ion-row>
        </ion-card-title>
      </ion-card-header>
    </ion-card>
</div>
<h3 *ngIf="ticketsList?.length == 0" class="empty-list-message">
  {{ 'NoItemFound' | translate }}
</h3>
</ng-container>
</ng-container>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="main" (click)="openFirebaseCreateModal()">
    <ion-icon  name="add" ></ion-icon>
  </ion-fab-button>
</ion-fab> 
</ion-content>