<!-- This is the proper way if you have submit button outside your ion-content form (typically in the ion-header or ion-footer) -->
<!-- (ref: https://github.com/ionic-team/ionic/issues/16661) -->
<form class="ion-page" [formGroup]="createItemForm" (ngSubmit)="createItem()">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button (click)="dismissModal()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title *ngIf="type === 'request'" >{{ 'NewParkingRequest' | translate }}</ion-title>
      <ion-title *ngIf="type === 'offer'">{{ 'NewParkingOffer' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
<!-- 
    previousCounterValue {{previousCounterValue}}<br>
     {{duration}} duration<br>
     {{this.createItemForm.get('date').value}} date<br>
     {{this.createItemForm.get('startDate').value }} startDate<br>
     {{this.createItemForm.get('endDate').value }} endDate<br>
     {{minStartDate}}minStartDate -->

     <!-- <section> -->
      <!-- <ion-list lines="full"> -->
        <ion-item>
          <ion-label>Date</ion-label>
          <ion-datetime display-format="DD, MMMM, YYYY" picker-format="DD MMMM YYYY" [min]="minDate" [max]="maxDate"  formControlName="date" ></ion-datetime>          
        </ion-item>
        <ion-item>
          <ion-label>{{ 'FromTime' | translate }}</ion-label>
          <ion-datetime display-format="HH:mm" picker-format="HH:mm" minuteValues = "0,5,10,15,20,25,30,35,40,45,50,55" [min]="minStartDate"  formControlName="startDate"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-grid class="ion-no-padding">
          <ion-row class="ion-align-items-center">
            <ion-col size="4">
          <ion-label>{{ 'Duration' | translate }}</ion-label>
            </ion-col>
            <ion-col class="ion-text-center">
              <ion-label>{{createItemForm.controls.duration.value}}</ion-label>
            </ion-col>
            <ion-col>
              <app-counter-input-minutes formControlName="duration" basic></app-counter-input-minutes>
            </ion-col>
          </ion-row>
        </ion-grid>
        </ion-item>
        <ion-item>
            <ion-label>{{ 'ToTime' | translate }}</ion-label>
            <ion-datetime display-format="DD, MMMM, YYYY HH:mm" formControlName="endDate" readonly></ion-datetime>
        </ion-item>
        <ion-item *ngIf="type === 'request'">
          <ion-grid class="ion-no-padding">
            <ion-row class="ion-align-items-center">
              <ion-col size="4">
                <ion-label>{{ 'NoPlace' | translate }}</ion-label>
              </ion-col>
              <ion-col class="ion-text-center">
                <ion-label>{{createItemForm.controls.count.value}}</ion-label>
              </ion-col>
              <ion-col>
                <app-counter-input formControlName="count" basic></app-counter-input>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item *ngIf="type === 'offer' && (hasMultipleParking)">
          <ion-grid class="ion-no-padding">
            <ion-row class="ion-align-items-center">
              <ion-col>
                <ion-label>{{ 'Parking' | translate }}</ion-label>
              </ion-col>
              <ion-col class="ion-text-center">
                <ion-button color="main" (click)="chooseParkingToOffer()">{{ 'Choose' | translate }}</ion-button>
              </ion-col>
              <ion-col class="ion-text-end">
                <!-- <ion-input type="text" formControlName="parking" readonly></ion-input> -->
                <ion-label>{{ selectedParking }}</ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item *ngIf="type === 'offer' && (!hasMultipleParking)">
          <ion-grid class="ion-no-padding">
            <ion-row class="ion-align-items-center">
              <ion-col>
                <ion-label>{{ 'Parking' | translate }}</ion-label>
              </ion-col>
              <ion-col class="ion-text-end">
                <ion-label>{{ selectedParking }}</ion-label>
                <!-- <ion-input type="text" formControlName="parking" readonly></ion-input> -->
              </ion-col>
            </ion-row>
          </ion-grid>
      </ion-item>
        <ion-item>
          <ion-label position="floating">Note</ion-label>
          <ion-textarea rows="6" cols="20" formControlName="note"></ion-textarea>
        </ion-item>
      <!-- </ion-list>  -->
    <!-- </section>  -->
  </ion-content>

  <ion-footer>

      
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="main" type="submit" fill="solid" [disabled]="!createItemForm.valid">{{ 'Create' | translate }}</ion-button>
      </ion-col>
    </ion-row>
  </ion-footer>
</form>
