<ion-header>
  <ion-toolbar color="main">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ 'Welcome' | translate }} {{username}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row class="categories-list">
    <ion-col class="category-item" size="6" *ngIf="enableAnnouncement">
      <ion-card button="true" class="itemCard" [routerLink]="['/app/start-menu/announcements']">
        <app-aspect-ratio [ratio]="{w:1, h:1}">
          <app-image-shell [display]="'cover'" animation="spinner" [src]="'./assets/sample-images/categories/announcement.jpg'"></app-image-shell>
        </app-aspect-ratio>
        <ion-card-header color="primary">
          <ion-card-subtitle class="ion-no-padding ion-text-center ion-text-nowrap">{{ 'SaleMenu' | translate }}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col class="category-item" size="6" *ngIf="enableEvent">
      <ion-card button="true" class="itemCard" [routerLink]="['/app/start-menu/events']">
        <app-aspect-ratio [ratio]="{w:1, h:1}">
          <app-image-shell [display]="'cover'" animation="spinner" [src]="'./assets/sample-images/categories/events.jpg'"></app-image-shell>
        </app-aspect-ratio>
        <ion-card-header color="primary">
          <ion-card-subtitle class="ion-no-padding ion-text-center ion-text-nowrap">{{ 'EventsMenu' | translate }}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col class="category-item" size="6" *ngIf="enableTicket">
      <ion-card button="true" class="itemCard" [routerLink]="['/app/start-menu/tickets']">
        <app-aspect-ratio [ratio]="{w:1, h:1}">
          <app-image-shell [display]="'cover'" animation="spinner" [src]="'./assets/sample-images/categories/tickets.png'"></app-image-shell>
        </app-aspect-ratio>
        <ion-card-header color="primary">
          <ion-card-subtitle class="ion-no-padding ion-text-center ion-text-nowrap">{{ 'TicketsMenu' | translate }}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col class="category-item" size="6" *ngIf="enableReservation">
      <ion-card button="true" class="itemCard" [routerLink]="['/app/start-menu/reservations']">
        <app-aspect-ratio [ratio]="{w:1, h:1}">
          <app-image-shell [display]="'cover'" animation="spinner" [src]="'./assets/sample-images/categories/reservation.png'"></app-image-shell>
        </app-aspect-ratio>
        <ion-card-header color="primary">
          <ion-card-subtitle class="ion-no-padding ion-text-center ion-text-nowrap">{{ 'ReservationsMenu' | translate }}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col class="category-item" size="6" *ngIf="enablePriest">
      <ion-card button="true" class="itemCard" [routerLink]="['/app/start-menu/priests']">
        <app-aspect-ratio [ratio]="{w:1, h:1}">
          <app-image-shell [display]="'cover'" animation="spinner" [src]="'./assets/sample-images/categories/priest.jpg'"></app-image-shell>
        </app-aspect-ratio>
        <ion-card-header color="primary">
          <ion-card-subtitle class="ion-no-padding ion-text-center ion-text-nowrap">{{ 'PriestMenu' | translate }}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col class="category-item" size="6" *ngIf="enableDonate">
      <ion-card button="true" class="itemCard" [routerLink]="['/app/start-menu/donates']">
        <app-aspect-ratio [ratio]="{w:1, h:1}">
          <app-image-shell [display]="'cover'" animation="spinner" [src]="'./assets/sample-images/categories/donate.jpg'"></app-image-shell>
        </app-aspect-ratio>
        <ion-card-header color="primary">
          <ion-card-subtitle class="ion-no-padding ion-text-center ion-text-nowrap">{{ 'DonateMenu' | translate }}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col class="category-item" size="6" *ngIf="userIsAdmin">
      <ion-card button="true" class="itemCard" [routerLink]="['/app/start-menu/users']">
        <app-aspect-ratio [ratio]="{w:1, h:1}">
          <app-image-shell [display]="'cover'" animation="spinner" [src]="'./assets/sample-images/categories/users.jpg'"></app-image-shell>
        </app-aspect-ratio>
        <ion-card-header color="primary">
          <ion-card-subtitle class="ion-no-padding ion-text-center ion-text-nowrap">{{ 'UsersMenu' | translate }}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col class="category-item" size="6" *ngIf="userIsLouay">
      <ion-card button="true" class="itemCard" [routerLink]="['/app/start-menu/problems']">
        <app-aspect-ratio [ratio]="{w:1, h:1}">
          <app-image-shell [display]="'cover'" animation="spinner" [src]="'./assets/sample-images/categories/problems.jpg'"></app-image-shell>
        </app-aspect-ratio>
        <ion-card-header color="primary">
          <ion-card-subtitle class="ion-no-padding ion-text-center ion-text-nowrap">{{ 'Problems' | translate }}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
