<ion-header>
  <ion-toolbar color="primary">
<!--      <ion-buttons slot="start">
      <ion-back-button *ngIf="ltr" icon="arrow-back"></ion-back-button>
      <ion-back-button *ngIf="!ltr" icon="arrow-forward"></ion-back-button>

    </ion-buttons>  -->
    <!-- <ion-searchbar placeholder="Search Favorites"></ion-searchbar> -->
    <ion-title>{{ 'Notifications' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>  
<ng-container *ngIf="items.isShell">
  <div class="DivLoading">
    <ion-spinner color="main"></ion-spinner>
  </div>
</ng-container>
<!-- <ion-refresher slot="fixed" (ionRefresh)="getUsersList($event)">
  <ion-refresher-content
    pullingIcon="arrow-down-outline" 
      pullingText="Pull to refresh" 
      refreshingSpinner="crescent"
      refreshingText="Refreshing...">
  </ion-refresher-content>
</ion-refresher> -->
<ng-container *ngIf="!items.isShell">
      <div  *ngIf="notificationsList?.length > 0">
        <ion-item *ngFor="let item of notificationsList" [routerLink]="['/app/start-menu',item.type]">   
          <ion-icon color="main" name="notifications-outline" slot="start"></ion-icon>     
      <ion-label style="white-space: pre-wrap !important;">
        <h3 *ngIf="item.subType == 'request'">{{ item.creatorName }} {{ 'NotificationMessageNewDealRequest' | translate }} "{{ item.typeTranslation }}"</h3>
        <h3 *ngIf="item.subType == 'offer'">{{ item.creatorName }} {{ 'NotificationMessageNewDealOffer' | translate }} "{{ item.typeTranslation }}"</h3>
        <h3 *ngIf="item.type !== 'deal'">{{ item.creatorName }} {{ 'NotificationMessageNewItem' | translate }} "{{ item.typeTranslation }}"</h3>
        <p>{{ item.createDate?.seconds * 1000 | date:'dd, MMM, yyyy' }}</p>
      </ion-label>
       
            <ion-icon name="eye-outline" slot="end"></ion-icon>
            <!-- <img src="./assets/sample-images/categories/sale.jpg"> -->
      
        </ion-item>
  
    </div>

  <h3 *ngIf="notificationsList?.length == 0" class="empty-list-message">
    {{ 'NoItemFound' | translate }}
  </h3>
</ng-container>
</ion-content>